@{
    
    ViewBag.Title = "| Manage Themes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Admin/Content/css/themes.css" rel="stylesheet" type="text/css" />
<span class="title">Manage Themes</span>

