#main #homepage_graphic {
  width: 655px;
  float: left;
  border: 5px solid #ccc;
  height: 220px;
  padding: 10px;
  text-align: center; }
  #main #homepage_graphic img {
    max-height: 220px; }
#main #lookup {
  height: 230px;
  width: 305px;
  float: left;
  display: block;
  padding: 10px;
  background: #c4baa8 url('/Content/img/h.jpg') 10% bottom no-repeat;
  box-shadow: 3px 3px 3px #544f45;
}

#main div.left_col img.free-shipping{
    width: 210px;   
}

#lookup, #curt_product, #bw_product{
   border-radius: 2px;
   margin-bottom: 10px;
}

#curt_product, #bw_product{
    position:relative;	
    width: 695px;
    height:250px;
    float:left;
    background: #97bdbe;
    margin-left: -2px;
    -webkit-transition: all 0.4s ease-in-out;
    overflow: hidden;
    box-shadow: 3px 3px 3px #544f45;
}

#curt_product:hover, #bw_product:hover{
    background: #f2e0bc;
}

#curt_product div{
    width: 100%;
    height:100;
    min-height: 250px;
}

#curt_product div img, #bw_product img{ 
    width: 100%;
    border-radius: 2px 2px 0px 0px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#curt_product div a.info{
    position: absolute;
    background: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
    width: 100%;
    height: 60px;
    color: white;
    text-decoration: none;
    bottom: 0;
}

#curt_product div a.info div.info_desc{
    float:left;
    width: 80%;
    padding: 1%;
    padding-left: 20px;
}

#curt_product div a.info div.info_desc span{
    display:block;
}

#curt_product div a.info div.info_desc span.heading{
    font-size: 18px;
    font-weight:bold;
    font-family: 'Rockwell W01 Bold', serif;
}

#curt_product div a.info div.info_desc span.info_sub{
    font-size:11px;
}

#curt_product div a.info div.arrow{
    float:right;
    display: block;
    height:100%;
    width: 5%;
}

#curt_product div a.info div.arrow span{
    font-size:100%;
    font-size: 42px;
}

#curt_product div a.info:hover{
    background-color: rgba(191, 53, 4, 0.4);
}

#main #lookup label{
    display:block;
}

#main #lookup label span{
    font-size: 10px;
    color: rgb(198, 64, 43);
    display:none;
}

#main #lookup label img{
    vertical-align:middle;
    margin-top: -3px;
    width:14px;
    display:none;
}

#main #lookup select {
    width: 90%;
    margin: auto;
    margin: 0px 0px 5px 0px; 
}

#main #lookup select.err{
    border: 1px solid rgb(198, 64, 43);
}

#main #lookup .title {
    color: #343434;
    font-size: 32px;
    text-transform: uppercase;
    display: block;
    font-family: 'Rockwell W01 Bold', serif;
}

#main #lookup .sub_title {
    color: #FA241A;
    font-weight: bold; 
}
    
#main #lookup input[type=submit]{
    background: #F23805; /* Old browsers */
    background: -moz-linear-gradient(top, #F23805 30%, #BF0411 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#F23805), color-stop(98%,#BF0411)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F23805 30%,#BF0411 98%); /* IE10+ */
    background: linear-gradient(top, #F23805 30%,#BF0411 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F23805', endColorstr='#BF0411',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
    border: 1px inset #bf3504;
    text-transform: uppercase;
    font-weight: bold;
    color:White;
    outline:none;
    padding:3px 5px;
    float:right;
    text-shadow: -1px -1px 8px #422200;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}

#main #lookup input[type=submit]:disabled{
    opacity: 0.7;
    filter: alpha(opacity = 70);
}

#main #lookup a#reset_lookup{
    color: #343434;
    float:right;
    font-size: 11px;
    margin-right:5px;
    line-height:30px;
}

#main #lookup a#reset_lookup::before {
    content: url("/Content/img/reset.png");
    padding-right: 3px;
}

#container #main #mid_col article {
    width: 170px;
    margin: 10px;
    float: left;
    height: 260px;
    border-bottom: 5px solid #e0e0e0;
    padding: 10px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#container #main #mid_col article:hover{
    background: #e6e6e6;
    border-bottom: 5px solid #343434;
}

 #container #main #mid_col article img {
    display: block;
    width: 150px;
    margin: auto;
}

#container #main #mid_col article ul{
    margin:0;
    padding:0 0 0 10px;
    list-style:none;
    font-size: 12px;
}

#container #main #mid_col article ul li{
    margin:5px 0px;
    display:block;
}

#container #main #mid_col article ul li:first-child{
    font-size: 16px;
    margin: 5px 0px;
}

#container #main #mid_col article ul li a{
    color:black;
}

#container #main #mid_col article ul li:first-child a{
    color: #bf3504;
    text-decoration:none;
}