.vehicle_info{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
    text-align:right;
    padding-bottom:4px;
}

.titles {
    float: left;
    width: 60%;
}

.titles .shortDesc {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.titles .partNum {
    display: block;
    font-size: 14px;
}

.purchase {
    float: right;
    width: 39%;
}

.purchase .price {
    font-size: 28px;
    color: #FA241A;
    font-weight: bold;
    text-align: right;
    display: block;
}

.purchase .red{
    color: #bf3504;
    font-weight:bold;
}

.purchase form {
    text-align: right;
}

.purchase form label {
    vertical-align: middle;
    height: 30px;
    line-height: 40px;
    position: relative;
    left: 20px;
}

.purchase form label select {
    margin: 6px;
}

.purchase form img {
    position: relative;
    left: 40px;
}

.purchase form input {
    vertical-align: top;
    margin: 6px 0px;
    background: #FA241A;
    background: -moz-linear-gradient(top, #FA241A 30%, #BF3504 98%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#FA241A), color-stop(98%,#BF3504));
    background: -webkit-linear-gradient(top, #FA241A 30%,#BF3504 98%);
    background: -o-linear-gradient(top, #FA241A 30%,#BF3504 98%);
    background: -ms-linear-gradient(top, #FA241A 30%,#BF3504 98%);
    background: linear-gradient(top, #FA241A 30%,#BF3504 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FA241A', endColorstr='#bf3504',GradientType=0 );
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 150px;
    text-align: right;
    padding: 0px 20px 0px 10px;
    border: 1px solid transparent;
}

.left_col {
    width: 320px;
    float: left;
    margin-bottom: 20px;
    margin-left: 25px;
}

.left_col a {
    text-decoration: none;
}

.left_col a.main {
    width: 300px;
    display: block;
    margin: auto;
}

.left_col a.sub {
    float: left;
    width: 75px;
    border-bottom: 4px solid #ccc;
    height: 79px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
    text-align: center;
    line-height: 79px;
}


.left_col a.sub:hover, .left_col a.sub:active {
    border-bottom: 4px solid black;
}

.left_col a.sub img {
    width: 75px;
    margin-top: 0;
    vertical-align: middle;
    height: 75px;
}

.left_col .share_buttons {
    clear: both;
    height: 30px;
    padding-top: 15px;
}

.left_col .share_buttons div, .left_col .share_buttons iframe {
    vertical-align: middle !important;
}

.left_col .share_buttons a:first-child {
    vertical-align: bottom;
    line-height: 32px;
}

.left_col .share_buttons a.email-share{
    background: url('../img/mail-icon.png') no-repeat;
    height: 14px;
    display:block; /* IE7 Hack */
    display: inline-block;
    width: 21px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top:;
}

.right_col {
    float: right;
    margin: 20px 10px 20px 30px;
    width: 380px;
}

.left_col .review_box{
    width: 100%;
    margin:15px auto;
    text-align:center;
}

.left_col .review_box .starrating{
    height:15px;
    width:80px;
    background: url('/Content/img/review_stars/star_sprite.png') top left repeat-x;
    margin:auto;
    text-align:center;
    display: inline-block;
}

.left_col .review_box .stars{
    display: inline;
    text-align: center;
}

.left_col .review_box .stars a{
    width: 80px;
    color: black;
    vertical-align: top;
}

.left_col .starrating span{
    font-weight:bold;
    font-size: 11px;
    text-shadow: #fff 2px 2px 2px;
}

.left_col .starrating span.rating{
    display:block;
    height: 15px;
    background: url('/Content/img/review_stars/star_sprite.png') bottom left repeat-x;
}

.right_col table {
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
}

.right_col table tbody tr td {
    padding: 5px;
    font-size: 11px;
}

.right_col table tbody tr td:first-child {
    background-color: #e6e6e6;
    font-weight: bold;
    width: 70%;
}

.right_col .install, .right_col .install_link {
    font-size: 11px;
    color: Black;
    text-decoration: none;
    display: block;
}
.right_col .install:hover, .right_col .install:active, .right_col .install_link:hover, .right_col .install_link:active {
    text-decoration: underline;
}

.right_col .install img, .right_col .install_link img {
    width: 30px;
}


.part_content table {
    width: 100%;
}

.part_tab_container {
    display: none;
    width: 100%;
    vertical-align: bottom;
}

.part_tab_container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.part_tab_container ul li {
    list-style: none;
    display: block;
    width: 100px;
    float: left;
    margin-right: 5px;
    padding: 10px;
    padding-bottom: 0px;
}

.part_tab_container ul li a {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-bottom: 4px solid #505f6b;
    border-bottom: 4px solid rgba(50, 68, 82,0.4);
    border-radius: 2px 2px 0px 0px;
    -webkit-transition: all 0.4s ease-in-out;
}

.part_tab_container ul li a:hover, .part_tab_container ul li a.active {
    border-bottom: 4px solid #343434;
}

.part_container {
    clear: both;
    position:relative;
    border-top: 1px solid #e6e6e6;
    box-shadow: 2px 2px 2px #e6e6e6;
    margin-bottom:50px;
    padding-bottom:20px;
}

.part_container .part_content{
    padding:15px;
    width: 749px;
}

.part_container #vehicles table tbody tr td a.find{
    margin:auto;
    background: #343434;
    border-radius: 2px;
    border: none;
    box-shadow: 1px 1px 1px #343434;
    padding: 5px;
    color: white;
    font-size: 14px;
    font-weight:bold;
    display: block;
    width: 75px;
    text-decoration: none;
}

.part_container #vehicles table thead tr th{
    border-bottom: 2px solid #343434;
}

.part_container #vehicles table tbody tr td{
    background:white;
    vertical-align:middle;
    padding: 5px 0px;
}

.part_container #vehicles table tbody tr:hover td{
    background: #E7E9EA;
    background: rgba(50, 68, 82,0.1);
}

.part_container #vehicles table tbody tr td.last{
    text-align:center;
}

.part_container #vehicles table tbody tr td.last a.details{
    color: #E64D2D;
    font-size: 11px;
}

.part_container .part_listing{
    clear:both;
    border-bottom: 1px solid #eaeaea;
    min-height: 150px;
    height:auto;
    padding: 15px 0px;
}

.part_container .part_info{
    float:left;
    width: 500px;
}

.part_container .part_listing h4{
    display:block;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.part_container .part_listing .id{
    font-weight:bold;
    font-size:11px;
    display:block;
    margin-bottom: 10px;
}

.part_container .part_listing .left_col{
    float:left;
    width: 130px;
    margin:0;
    padding:0;
    height:100%;
    text-align: center;
}

.part_container .part_listing .left_col img{
    display: block;
    vertical-align:middle;
    margin: auto;
}

.part_container .part_listing .mid_col{
    float:left;
    width: 300px;
    padding: 10px;
}

.part_container .part_listing .mid_col table{
    font-size: 11px;
    border-collapse: separate;
    border-spacing: 3px;
}

.part_container .part_listing .mid_col table tbody tr td:nth-child(odd){
    background: #e6e6e6;
    padding:  2px 5px 2px 10px;
    font-weight:bold;
    width: 150px;
}

.part_container .part_listing .mid_col table tbody tr td:nth-child(even){
    padding: 2px 2px 2px 5px;
    width: 150px;
}

.part_container .part_listing .right_col{
    float:right;
    width: 180px;
    padding: 10px 0px;
    border-left: 1px solid #e6e6e6;
    height: 100%;
}

.part_container .part_listing .right_col a{
    width: 110px;
    height:28px;
    line-height:28px;
    display:block;
    text-align:center;
    padding: 0px 10px;
    text-decoration:none;
    color: white;
    font-weight:bold;
    font-size:14px;
    border-radius: 4px;
    margin:auto;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px #e6e6e6;
    border:1px solid transparent;
    -wekit-transition: all 0.3s ease-in-out;
}

.part_container .part_listing .right_col span.price{
    font-size: 24px;
    color: #FA241A;
    font-weight:bold;
    margin:auto auto 15px auto;
    display:block;
    text-align:center;
}

.part_container .part_listing .right_col a.details{
    background: #343434;
    text-shadow: 0px -1px 1px #202f3a;
}

.part_container .part_listing .right_col a.details:hover,.part_container .part_listing .right_col a.details:active{
    border: 1px solid #202f3a;
    background: #273844;
}

.part_container .part_listing .right_col a.add_cart{
    background: #F23805; /* Old browsers */
    background: -moz-linear-gradient(top, #F23805 30%, #BF0411 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#F23805), color-stop(98%,#BF0411)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F23805 30%,#BF0411 98%); /* IE10+ */
    background: linear-gradient(top, #F23805 30%,#BF0411 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F23805', endColorstr='#BF0411',GradientType=0 ); /* IE6-9 */
}

.part_container .part_listing .right_col a.add_cart:hover,.part_container .part_listing .right_col a.add_cart:active{
    background: #ea7d00; /* Old browsers */
    background: -moz-linear-gradient(top, #ea7d00 30%, #bf3504 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ea7d00), color-stop(98%,#bf3504)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ea7d00 30%,#bf3504 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ea7d00 30%,#bf3504 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ea7d00 30%,#bf3504 98%); /* IE10+ */
    background: linear-gradient(top, #ea7d00 30%,#bf3504 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea7d00', endColorstr='#bf3504',GradientType=0 ); /* IE6-9 */
    
}

.part_container .part_listing .right_col a.add_cart img{
    margin-top:-4px;
}

.part_container .part_listing .right_col a.add_cart span{
    line-height: 28px;
}

.part_container .part_content .review{
    clear:both;
    border-bottom: 1px solid #eaeaea;
    min-height: 100px;
    height:auto;
    padding: 15px 0px;
}

.part_container .part_content .review .full_stars{
    height:15px;
    width:80px;
    background: url('/Content/img/review_stars/star_sprite.png') top left repeat-x;
    display: inline-block;
}

.part_container .part_content .review .full_stars .review_rating{
    display:block;
    height: 15px;
    background: url('/Content/img/review_stars/star_sprite.png') bottom left repeat-x;
}

.part_container .part_content .review span.subject{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.part_container .part_content .review span.date{
    font-size: 11px;
}

.part_container .part_content .review span.name{
    font-size: 12px;
    display:block;
    margin-top: 5px;
}

.fb-like {
	display: inline-block;
	max-width: 46px;
	overflow: hidden;
}