span.search_results{
    font-size: 13px;
    display:block;
    margin: 10px 15px;
}

#mid_col .view_more{
    display:block;
    width: 60%;
    margin:auto;
    height: 40px;
    line-height:40px;
    color:Black;
    text-decoration: none;
    text-align:center;
    background: #e0e0e0;
    border: 1px outset #e6e6e6;
    margin-bottom: 20px;
    border-radius: 2px;
}

#mid_col .view_more:hover{
    border: 1px inset #e6e6e6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}