/* * HTML5 Boilerplate * * What follows is the result of much research on cross-browser styling. * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, * Kroc Camen, and the H5BP dev community and team. * * Detailed information about this CSS: h5bp.com/css * * ==|== normalize ========================================================== */
/* ============================================================================= HTML5 display definitions ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

/* ============================================================================= Base ========================================================================== */
/* * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units * 2. Force vertical scrollbar in non-IE * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */

/* licensed fonts from webfonts.fonts.com */

@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=2b96e99c-c8f0-4d36-ac14-54e8633bd357");
@font-face{
    font-family:"Rockwell W01 Bold";
    src:url("Fonts/864373f8-943b-449d-a730-462eb66d7058.eot?iefix") format("eot");
}
@font-face{
    font-family:"Rockwell W01 Bold";
    src:url("Fonts/864373f8-943b-449d-a730-462eb66d7058.eot?iefix");
    src:url("Fonts/49ff3af5-13b2-4add-8470-4cdac3cf650e.woff") format("woff"),url("Fonts/7d69578b-ab0e-4986-af19-428861ada4e4.ttf") format("truetype"),url("Fonts/2848532f-bf3e-4430-aae1-bc0d1367eb84.svg#2848532f-bf3e-4430-aae1-bc0d1367eb84") format("svg");
}
@font-face{
    font-family:"RockwellW01-BoldItalic";
    src:url("Fonts/197ebbbd-d981-48a3-9e9a-8d21cc6fff21.eot?iefix") format("eot");
}
@font-face{
    font-family:"RockwellW01-BoldItalic";
    src:url("Fonts/197ebbbd-d981-48a3-9e9a-8d21cc6fff21.eot?iefix");
    src:url("Fonts/689e269c-72ae-41f7-9ba9-97e17f883bd5.woff") format("woff"),url("Fonts/a6940b46-a224-4791-84c5-372aced917b7.ttf") format("truetype"),url("Fonts/298a903d-4a78-456b-bbcc-f4f6c36611f5.svg#298a903d-4a78-456b-bbcc-f4f6c36611f5") format("svg");
}
@font-face{
    font-family:"Rockwell W01 Italic";
    src:url("Fonts/d34aec13-9ff7-4660-9396-4537a6c7fd1a.eot?iefix") format("eot");
}
@font-face{
    font-family:"Rockwell W01 Italic";
    src:url("Fonts/d34aec13-9ff7-4660-9396-4537a6c7fd1a.eot?iefix");
    src:url("Fonts/f0c81ebb-e6f4-4a1f-9354-06ac9ad7b262.woff") format("woff"),url("Fonts/080109cd-e993-4dc4-9c21-b34766eba5aa.ttf") format("truetype"),url("Fonts/34153597-0d00-4984-ac4e-e9cdc8e6cc0c.svg#34153597-0d00-4984-ac4e-e9cdc8e6cc0c") format("svg");
}
@font-face{
    font-family:"Rockwell W01 Light";
    src:url("Fonts/8a120ae1-7a5b-484b-a170-f67812b59652.eot?iefix") format("eot");
}
@font-face{
    font-family:"Rockwell W01 Light";
    src:url("Fonts/8a120ae1-7a5b-484b-a170-f67812b59652.eot?iefix");
    src:url("Fonts/7658dda6-217a-406c-bcb8-7551f88e2c49.woff") format("woff"),url("Fonts/ec796902-2e28-46d0-8bbd-071b83705a39.ttf") format("truetype"),url("Fonts/66d3bbb2-4ca8-48e9-b707-f53f776ec476.svg#66d3bbb2-4ca8-48e9-b707-f53f776ec476") format("svg");
}
@font-face{
    font-family:"RockwellW01-LightItalic";
    src:url("Fonts/8ffb54fb-49c1-474c-858e-1e2cf0505408.eot?iefix") format("eot");
}
@font-face{
    font-family:"RockwellW01-LightItalic";
    src:url("Fonts/8ffb54fb-49c1-474c-858e-1e2cf0505408.eot?iefix");
    src:url("Fonts/b4127bd6-c223-4426-aa55-f931049c1924.woff") format("woff"),url("Fonts/91b45e0c-c450-4dd3-b05e-d27326ab1156.ttf") format("truetype"),url("Fonts/64c78c73-af6b-4166-8a8b-323fb6a10043.svg#64c78c73-af6b-4166-8a8b-323fb6a10043") format("svg");
}
@font-face{
    font-family:"Rockwell W01";
    src:url("Fonts/73e6c08f-deb5-4d6f-827b-597a84046aa4.eot?iefix") format("eot");
}
@font-face{
    font-family:"Rockwell W01";
    src:url("Fonts/73e6c08f-deb5-4d6f-827b-597a84046aa4.eot?iefix");
    src:url("Fonts/de4b0540-9702-4662-8f3a-228419485257.woff") format("woff"),url("Fonts/bc34c4cd-af2c-400d-b4d0-726e2d89f690.ttf") format("truetype"),url("Fonts/59c05ddc-99f9-44db-82ce-cb7f503b5110.svg#59c05ddc-99f9-44db-82ce-cb7f503b5110") format("svg");
}
@font-face{
    font-family:"RockwellW01-BoldCondens";
    src:url("Fonts/fe030def-2cb4-435d-aa12-73917873ba1b.eot?iefix") format("eot");
}
@font-face{
    font-family:"RockwellW01-BoldCondens";
    src:url("Fonts/fe030def-2cb4-435d-aa12-73917873ba1b.eot?iefix");
    src:url("Fonts/ba535a2e-9c93-4edc-9ed5-3f17f31e7b0b.woff") format("woff"),url("Fonts/f919dd72-709f-485b-9fd7-fb9680f1a16c.ttf") format("truetype"),url("Fonts/984fd618-379b-4681-9807-305f99bf6fd2.svg#984fd618-379b-4681-9807-305f99bf6fd2") format("svg");
}
@font-face{
    font-family:"Rockwell W01 Condensed";
    src:url("Fonts/2e15409d-9ea0-43dd-bc85-d0c6284d3fd2.eot?iefix") format("eot");
}
@font-face{
    font-family:"Rockwell W01 Condensed";
    src:url("Fonts/2e15409d-9ea0-43dd-bc85-d0c6284d3fd2.eot?iefix");
    src:url("Fonts/75601e70-cd01-4069-8258-94c51650f588.woff") format("woff"),url("Fonts/cff4adfd-f12d-4555-a2d9-229e87d6a056.ttf") format("truetype"),url("Fonts/9fb03fe8-9256-46ae-8b43-b91a0744ec93.svg#9fb03fe8-9256-46ae-8b43-b91a0744ec93") format("svg");
}
@font-face{
    font-family:"Rockwell W01 Extra Bold";
    src:url("Fonts/0a0a3b6d-c6d4-4867-b940-2fc5a433345f.eot?iefix") format("eot");
}
@font-face{
    font-family:"Rockwell W01 Extra Bold";
    src:url("Fonts/0a0a3b6d-c6d4-4867-b940-2fc5a433345f.eot?iefix");
    src:url("Fonts/5c3157e8-1685-449b-8e7d-ea65660cdffc.woff") format("woff"),url("Fonts/7c244623-7559-4bf4-b3c4-bb6874d2acfa.ttf") format("truetype"),url("Fonts/f0aba0f2-7ae4-47f0-94aa-6d62a938e55f.svg#f0aba0f2-7ae4-47f0-94aa-6d62a938e55f") format("svg");
}

/* end licensed fonts */

html {
    font-size: 100%;
    overflow-y: scroll;
    font-family: "Droid Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-color: white;
    /* Old browsers */
}

body {
    margin: 0;
    font-size: 13px;
    overflow:auto;
    min-width:1020px;
    line-height: 1.231;
}

body, button, input, select, textarea {
    font-family: "Droid Sans", sans-serif;
    color: #222;
}

/* * Remove text-shadow in selection highlight: h5bp.com/i * These selection declarations have to be separate * Also: hot pink! (or customize the background color to match your design) */
::-moz-selection {
    background: #f;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f28705;
    color: #fff;
    text-shadow: none;
}

input[type=submit]::-moz-focus-inner{ border: 0; }

/* ============================================================================= Links ========================================================================== */
a {
    color: #00e;
    cursor: pointer;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
    outline: 0;
}

/* ============================================================================= Typography ========================================================================== */
abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ============================================================================= Lists ========================================================================== */
ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

/* ============================================================================= Embedded content ========================================================================== */
/* * 1. Improve image quality when scaled in IE7: h5bp.com/d * 2. Remove the gap between images and borders on image containers: h5bp.com/e */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

/* * Correct overflow not hidden in IE9 */
svg:not(:root) {
    overflow: hidden;
}

/* ============================================================================= Figures ========================================================================== */
figure {
    margin: 0;
}

/* ============================================================================= Forms ========================================================================== */
form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
    cursor: pointer;
}

/* * 1. Correct color not inheriting in IE6/7/8/9 * 2. Correct alignment displayed oddly in IE6/7 */
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}

/* * 1. Correct font-size not inheriting in all browsers * 2. Remove margins in FF3/4 S5 Chrome * 3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

/* * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) * 2. Correct inner spacing displayed oddly in IE6/7 */
button, input {
    line-height: normal;
    *overflow: visible;
}

/* * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input {
    *overflow: auto;
}

/* * 1. Display hand cursor for clickable form elements * 2. Allow styling of clickable form elements in iOS */
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

/* * Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* * Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* * 1. Remove default vertical scrollbar in IE6/7/8/9 * 2. Allow only vertical resizing */
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/* Colors for form validity */
input:invalid, textarea:invalid {
    background-color: #f0dddd;
}

p.error{
    color: #FA241A;
    font-size: 14px;
}

.simple-form{
    width:100%;
    min-height:400px;
}

.simple-form span.title{
    font-size: 18px;
    color: #FA241A;
}

form.left{
    float:left;
    width:500px;
}

.simple-form span.share-heading{
    font-size:18px;
    color:#FA241A;
    margin-bottom:15px;
    display: block;
}

.simple-form label{
    display:block;
    clear:both;
    min-height: 70px;
}

.simple-form span.required-helper{
    float:right;
    color: #FA241A;
    font-size: 11px;
}

.simple-form label input,.simple-form label textarea,.simple-form label select{
    display:block;
    background:white;
    width: 350px;
    max-width:460px;
    padding: 5px;
    height: 20px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
    border: 1px solid #e0e0e0;
    resize:horizontal;
}

.simple-form label input[type='radio'] {
    height: auto;
}

.simple-form label select{
    height:30px;
    width:365px;
}

.simple-form label textarea{
    resize:both;
    height:200px;
    max-height:400px;
    overflow:auto;
}

.simple-form input[type=submit]{
    background: #F23805; /* Old browsers */
    background: -moz-linear-gradient(top, #F23805 30%, #BF0411 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#F23805), color-stop(98%,#BF0411)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F23805 30%,#BF0411 98%); /* IE10+ */
    background: linear-gradient(top, #F23805 30%,#BF0411 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F23805', endColorstr='#BF0411',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
    border: 1px inset #bf3504;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    outline:none;
    padding:3px 5px;
    text-shadow: -1px -1px 8px #422200;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    font-size: 16px;
    padding: 3px 15px;
    display:block;
    min-width:100px;
    height:30px;
    margin-top:25px;
}

.simple-form input[type=submit]:hover,.simple-form input[type=submit]:active,.simple-form input[type=submit]:focus{
    background:#FA241A;
    -moz-box-shadow: -1px -1px 3px #FA241A;
	-webkit-box-shadow: -1px -1px 3px #FA241A;
	-o-box-shadow: -1px -1px 3px #FA241A;
	box-shadow: -1px -1px 3px #FA241A;
}

.simple-form label input.err,.simple-form label textarea.err, .simple-form label div.err-shadow{
    border: 1px solid #FA241A;
    -moz-box-shadow: 1px 1px 10px #FA241A;
	-webkit-box-shadow: 1px 1px 10px #FA241A;
	-o-box-shadow: 1px 1px 10px #FA241A;
	box-shadow: 1px 1px 10px #FA241A;
}

.simple-form div#captchabox {
    display: block;
    display: inline-block;
    padding-top: 30px;
}

.simple-form fieldset{
    background: #f2f2f2;
    padding: 10px 35px;
    margin-bottom: 20px;  
}

.simple-form fieldset legend, .left p.tab-title {
    font-size: 18px;
    padding-bottom: 10px;
    color: #FA241A;   
}

/* ============================================================================= Tables ========================================================================== */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

/* ==|== primary styles ===================================================== Author: ========================================================================== */

.error, .success{
    font-size:14px;
    display:block;
    margin: 5px 0px;
}

.error{ color: #bf3514; }
.success{ color: #3b825d; }
.left{ float:left;}
.right{ float:right; }

ul.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.tabs li {
    list-style: none;
    display: block;
    width: 100px;
    float: left;
    margin-right: 5px;
    padding: 10px;
    padding-bottom: 0px;
}

ul.tabs li a {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-bottom: 4px solid #989898;
    border-bottom: 4px solid rgba(50, 68, 82,0.4);
    border-radius: 2px 2px 0px 0px;
    -webkit-transition: all 0.4s ease-in-out;
}

ul.tabs li a:hover, ul.tabs li a.active {
    border-bottom: 4px solid #343434;
}

.tab_container {
    clear: both;
    position:relative;
    border-top: 1px solid #e6e6e6;
    box-shadow: 2px 2px 2px #e6e6e6;
    margin-bottom:50px;
    padding-bottom:20px;
}

.tab_container .tab_content{
    padding:15px;
    width: 749px;
}

.tab_container div.tab_content.active{
    display:block;
}


html.oldie #top_bar{
    left:0px;
}

#container {
    min-width: 1020px;
    max-width: 1020px;
    margin: auto;
    z-index: -1;
}

header {
    width:100%;
    background: white;
    margin-bottom: 0px;
    padding: 0px;
    z-index: 1000;
    height: 190px;
}

html.ie7 header{
    height: 60px;
}

header #top_bar{
    background: #343434;
    position:relative;
    top: 0px;
    width: 100%;
    z-index:10000;
    box-shadow: 3px 3px 3px #544f45;
}

header #top_bar #scroll_logo{
    height:60px;
    display:block;
    float:left;
    width:323px;
    font-size: 1.8em;
    font-weight:bold;
    color: #343434;
    text-align: center;
    width:400px;
    margin-top: 30px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

header #top_bar #scroll_logo img{
    margin-top: 5px;
}

header #top_bar #scroll_logo, header .logo{
    /*background: url('img/header-holder_400x60.png') no-repeat white;*/
}

header .call_us {
    margin-top: 19px;
    float: right;
}

header nav {
    padding: 0px;
    /*border-radius: 15px 15px 0px 0px;
    */
    height: 90px;
    width: 1020px;
    margin:auto;
    background: #343434;
    display: block;
}

header nav a.sub_link{
    color: #f2e0bc;
    display:inline-block;
    float:right;
    width: 90px;
    border-left: 1px solid #66635f;
    font-size: 11px;
    text-align: center;
    padding-top: 5px;
    text-decoration:none;
}

header nav a.sub_link:hover{
    background: rgb(12,50,79); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(12,50,79) 0%, rgb(50,68,82) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(12,50,79)), color-stop(100%,rgb(50,68,82))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(12,50,79) 0%,rgb(50,68,82) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(12,50,79) 0%,rgb(50,68,82) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(12,50,79) 0%,rgb(50,68,82) 100%); /* IE10+ */
    background: linear-gradient(top, rgb(12,50,79) 0%,rgb(50,68,82) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c324f', endColorstr='#324452',GradientType=0 ); /* IE6-9 */
}

header nav a.sub_link:nth-child(3){
    border-right: 1px solid #66635f;
    margin-right:10px;
}

header nav span.phone{
    float:right;
    font-family: 'Rockwell W01 Extra Bold', serif;
    color: #6b6a6a;
    font-size: 20px;
    padding-right: 20px;
    margin: 20px 0 10px;
    position: relative;
    z-index: 10;
}

header nav span.phone:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 17px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIgc3RvcC1vcGFjaXR5PSIwLjM2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDM0MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(52,52,52,0.36) 0%, rgba(52,52,52,1) 70%, rgba(52,52,52,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,52,52,0.36)), color-stop(70%,rgba(52,52,52,1)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(52,52,52,0.36) 0%,rgba(52,52,52,1) 70%,rgba(52,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(52,52,52,0.36) 0%,rgba(52,52,52,1) 70%,rgba(52,52,52,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(52,52,52,0.36) 0%,rgba(52,52,52,1) 70%,rgba(52,52,52,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(52,52,52,0.36) 0%,rgba(52,52,52,1) 70%,rgba(52,52,52,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c343434', endColorstr='#343434',GradientType=0 ); /* IE6-8 */
    z-index: 11;
}

header nav span.phone:after {
	content: "Call Us:";
    font-family: 'Rockwell W01 Extra Bold', serif;
    color: #6b6a6a;
    font-size: 20px;
    transform: scaleY(-1);
    -ms-transform: scaleY(-1); /* IE 9 */
    -webkit-transform: scaleY(-1); /* Safari and Chrome */
    -o-transform: scaleY(-1); /* Opera */
    -moz-transform: scaleY(-1); /* Firefox */
    left: 0;
    top: 17px;
    position: absolute;
    z-index: 10;
}

header nav span.phone span {
	color: #fe2c2c;
	width: auto;
	font-size: 20px;
    position: relative;
}
header nav span.phone span:after {
	content: "1-888-904-4824";
    font-family: 'Rockwell W01 Extra Bold', serif;
    color: #fe2c2c;
    font-size: 20px;
    transform: scaleY(-1);
    -ms-transform: scaleY(-1); /* IE 9 */
    -webkit-transform: scaleY(-1); /* Safari and Chrome */
    -o-transform: scaleY(-1); /* Opera */
    -moz-transform: scaleY(-1); /* Firefox */
    left: 0;
    top: 17px;
    position: absolute;
    z-index: 10;
}


header #top_bar .error_display{
    display: none;
    margin: auto;
    text-align:center;
    position: fixed;
    bottom: 0;
    width: 1020px;
}

header #top_bar .error_display span.error_heading{
    background:orange;
    display:inline;
    border-radius: 6px 6px 0px 0px;
    font-size: 24px;
    color:black;
    padding: 5px 10px 5px 10px;
}

header #top_bar .error_display span.err{
    font-size: 16px;
    margin-left: 10px;
    margin-right:10px;
    position:relative;
    top:-2px;
}

header #top_bar .error_display span.close{
    font-size: 12px;
    color: white;
    font-weight:bold;
    padding:2px;
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: -4px;
    cursor: pointer;
}

header #top_bar div.sub_menu{
    background: #857F73;
    width: 100%;
    height: 30px;
    display: block;
    position: relative;
}

header #top_bar div.sub_menu div.sub_menu_container{
    width: 1020px;
    height: 30px;
    margin: 0 auto;
    position: relative;
}

header #top_bar div.sub_menu div.sub_menu_container form{
    float:left;
    width: 325px;
    margin: 0px 85px 0 34px;
    padding: 3px 0 3px 6px;
    border: 0;
    background: #FA241A;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f23805 30%, #bf0411 98%);
        /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#f23805), color-stop(98%,#bf0411));
        /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f23805 30%,#bf0411 98%);
        /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f23805 30%,#bf0411 98%);
        /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f23805 30%,#bf0411 98%);
        /* IE10+ */
    background: linear-gradient(top, #f23805 30%,#bf0411 98%);
        /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23805', endColorstr='#bf0411',GradientType=0 );
    /* IE6-9 */

}

header #top_bar div.sub_menu div.sub_menu_container form input[type=search]{
    border: 1px solid #343434;
    height: 18px;
    border-radius: 2px;
    width: 272px;
    margin-left: 0;
    padding: 2px 5px 2px 5px;
    float: left;
}

html.ie9 header #top_bar div.sub_menu div.sub_menu_container form {
    margin: 0px 85px 0 34px;
    padding: 1px 0 3px 6px;
}

html.ie8 header #top_bar div.sub_menu div.sub_menu_container form {
	padding: 2px 0 1px 6px;
}

html.ie8 header #top_bar div.sub_menu div.sub_menu_container form input[type=search]{
    vertical-align:top;
}

html.ie7 header #top_bar div.sub_menu div.sub_menu_container form #mini-search{
    height:19px;
    vertical-align: bottom;
    width: 350px;
}

header #top_bar div.sub_menu div.sub_menu_container form input[type=submit]{
    background: url('img/mini_search_button.png');
    border:none;
    height:24px;
    width:37px;
    position:relative;
    right: 5px;
}

html.ie9 header #top_bar div.sub_menu div.sub_menu_container form input[type=submit]{
    top:1px;
}

html.ie8 header #top_bar div.sub_menu div.sub_menu_container form input[type=submit]{
    margin-top:2px;
    vertical-align: middle;
}

html.ie7 header #top_bar div.sub_menu div.sub_menu_container form{
    float:left;
}

html.ie7 header #top_bar div.sub_menu div.sub_menu_container form #btnSearch{
    top:2px;
    position:relative;
}

html.ie9 .placeholder, html.ie8 .placeholder, html.ie7 .placeholder {
	color: #999;
}

html.ie9 .placeholder:focus, html.ie8 .placeholder:focus, html.ie7 .placeholder:focus {
	color: #343434;
}

header #top_bar div.sub_menu div.sub_menu_container a,header #top_bar div.sub_menu div.sub_menu_container span{
    font-size: 12px;
    display:inline;
    display:inline-block;
    width: 85px;
    text-decoration:none;
    color: #343434;
    line-height:30px;
    height:30px;
}

header #top_bar div.sub_menu div.sub_menu_container a{
    text-align:center;
    vertical-align: top;
    color: #fff;
    float: left;
}

header #top_bar div.sub_menu div.sub_menu_container a:hover{
    background: rgb(188,72,33); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(188,72,33) 0%, rgb(254, 44, 44) 25%, rgb(254, 44, 44) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(188,72,33)), color-stop(25%,rgb(254, 44, 44)), color-stop(100%,rgb(254, 44, 44))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(188,72,33) 0%,rgb(254, 44, 44) 25%,rgb(254, 44, 44) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(188,72,33) 0%,rgb(254, 44, 44) 25%,rgb(254, 44, 44) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(188,72,33) 0%,rgb(254, 44, 44) 25%,rgb(254, 44, 44) 100%); /* IE10+ */
    background: linear-gradient(top, rgb(188,72,33) 0%,rgb(254, 44, 44) 25%,rgb(254, 44, 44) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc4821', endColorstr='#FE2C2C',GradientType=0 ); /* IE6-9 */
}

header #top_bar div.sub_menu div.sub_menu_container span {
    width: 130px;
    font-weight:bold;
    text-align: right;
}

header #top_bar div.sub_menu div.sub_menu_container span#cartCount {
    width: auto;
    font-weight: normal;
    float: none;
    text-align: center;
    height: auto;
    color: #fff;
}

header div.sub_bar{
    width:1020px;
    margin:auto;
    margin-bottom: 60px;
    position:relative;  
}

html.ie7 header div.sub_bar{
    margin: 20px auto;
}

 header .logo{
    display: block;
    float: left;
    z-index: 20000;
    position:relative;
    margin-top: -60px;
    width:400px;
    text-align:center;
    display:none;
}

header .logo img{
    margin-top: -11px;
    border-bottom: 1px solid #857F73;
}

header nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    float: right;
    height: 35px;
    position: relative;
    left: 0px;
    z-index: 20;
}

header nav ul li {
    float: left;
    list-style: none;
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
    height: 35px;
    width: 120px;
    line-height: 35px;
    background: url("/Content/img/sep.jpg") top left no-repeat;
}

header nav ul li:first-child {
    background: none;
}

header nav ul li a {
    text-align: center;
    padding: 0px 10px;
    font-size: 90%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    -webkit-transition: background 0.3s ease-in-out;
}

header nav ul li a:hover {
    background: url('img/nav_corner.png') no-repeat #ccc;
}

header nav ul li a:hover {
    color: #343434;
}

 header #search_box{
    overflow:hidden;
    border: 1px solid #bf0411;
    float: left;
    display: block;
    position: absolute;
    top: 65px;
    height: 40px;
    width: 600px;
    background: #FA241A;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f23805 30%, #bf0411 98%);
        /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#f23805), color-stop(98%,#bf0411));
        /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f23805 30%,#bf0411 98%);
        /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f23805 30%,#bf0411 98%);
        /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f23805 30%,#bf0411 98%);
        /* IE10+ */
    background: linear-gradient(top, #f23805 30%,#bf0411 98%);
        /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23805', endColorstr='#bf0411',GradientType=0 );
    /* IE6-9 */
 border-radius: 3px 3px 3px;
    padding: 10px;
}

header #search_box label{
    color: white;
    font-size: 20px;
    font-weight:bold;
    float:left;
}

header #search_box label span{
    display:block;
    font-size: 10px;
}

header #search_box #search{
    float: left;
    height: 31px;
    width: 351px;
    display:block;
    -moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
    border: none;
    padding: 3px 3px 3px 10px;
    line-height: 19px;
    margin-left: 6px;
}

html.ie7 header #search_box #search{
    width: 390px;
    height: 28px;
}

header #search_box #btnSearch{
    float:right;
    width: 60px;
    height: 38px;
    background: url('img/search_button.png');
    border:none;
    z-index:100;
    position:absolute;
    right: 10px;
}


#container #main {
    background: white;
    min-height: 800px;
    padding-top: 0px;
    margin-top: 0px;
}

html.ie7 #container{
    margin-top:20px;
}

#master_lookup{
    width:785px;
    height: 40px;
    padding: 10px;
    float:right;
    margin-bottom: 20px;
    background: #343434;
    box-shadow: 3px 3px 3px #e0e0e0;
    border: 1px solid #23333f;
    border-radius: 3px;
    line-height: 35px;
}

#master_lookup #lookup_title{
    text-transform:uppercase;
    font-size: 24px;
    font-weight:bold;
    color: #f2e0bc;
    text-shadow: 0px -2px -2px #23333f;
}

#master_lookup #lookup_subtitle{
    margin-left: 10px;
    font-size: 12px;
    color: #bf3504;
    font-weight:bold;
    text-shadow: 0px -2px 2px #23333f;
}

#master_lookup label{
    width: 164px;
    margin-left: 20px;
    margin-right: 1%;
    display:none;
}

#master_lookup #mount_label{
    display:inline;
}

#master_lookup label img{
    display:none;
    width:14px;
}

#master_lookup label select{
    width: 147px;
    margin-bottom: 3px;
    overflow:hidden;
}

#master_lookup label select:focus{
    overflow:auto;
}

#master_lookup label select.err{
    border: 1px solid rgb(198, 64, 43);
}

#master_lookup label span{
    display:none;
    font-size: 10px;
    color: rgb(198, 64, 43);
}

#master_lookup input[type=submit]{
    background: #F23805; /* Old browsers */
    background: -moz-linear-gradient(top, #F23805 30%, #BF0411 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#F23805), color-stop(98%,#BF0411)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F23805 30%,#BF0411 98%); /* IE10+ */
    background: linear-gradient(top, #F23805 30%,#BF0411 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F23805', endColorstr='#BF0411',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
    border: 1px inset #bf3504;
    text-transform: uppercase;
    color: #fff;
    outline:none;
    text-shadow: -1px -1px 8px #422200;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
    outline:none;
    padding:3px 5px;
    margin-top: -3px;
    font-weight: bold;
}

#master_lookup #reset_lookup{
    margin-left: 2px;
    font-size:11px;
    line-height:30px;
    color: #999;
}

html.ie7 #master_lookup #reset_lookup{
    line-height: 15px;
}

#lookup_summary{
    width:100%;
    box-shadow: 0px 1px 0px #e0e0e0;
}

#lookup_summary span:last-child{
    float:right;
}

 #container #main #left_col, #container #main #right_col {
    float: left;
    width: 210px;
}

 #container #main #left_col .module, #container #main #right_col .module {
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    box-shadow: 3px 3px 3px #e6e6e6;
    border-radius: 8px 8px 0px 0px;
}

 #container #main #left_col .module .module_title, #container #main #right_col .module .module_title {
    width: 190px;
    height: 35px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    background:#343434;
    display: block;
    line-height: 35px;
    padding-left: 10px;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Rockwell W01 Bold', serif;
}

 #container #main #left_col .module ul, #container #main #right_col .module ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
    display: block;
}

 #container #main #left_col .module ul li, #container #main #right_col .module ul li {
    display: block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-bottom: 1px dotted #e0e0e0;
    padding: 0px 10px;
}

 #container #main #left_col .module ul li:hover, #container #main #right_col .module ul li:hover {
    border: 1px dotted transparent;
    background: url("img/module_list_hover.png") right center no-repeat;
    background-repeat: no-repeat;
    width: 194px;
}

 #container #main #left_col .module ul li a, #container #main #right_col .module ul li a{
    color: Black;
    text-decoration:none;
    display:block;
    width: 100%;
    height: 30px;
    line-height:30px;
}

#container #main #right_col .module ul li{ overflow:hidden; }
#container #main #right_col .module ul li a{ font-size: 11px; }

 #container #main #left_col #newsletter .desc, #container #main #left_col #newsletter .action, #container #main #left_col #newsletter form, #container #main #left_col #search .desc, #container #main #left_col #search .action, #container #main #left_col #search form, #container #main #right_col #newsletter .desc, #container #main #right_col #newsletter .action, #container #main #right_col #newsletter form, #container #main #right_col #search .desc, #container #main #right_col #search .action, #container #main #right_col #search form {
    padding: 0px 10px;
}

 #container #main #left_col #newsletter .desc, #container #main #left_col #newsletter .action, #container #main #left_col #search .desc, #container #main #left_col #search .action, #container #main #right_col #newsletter .desc, #container #main #right_col #newsletter .action, #container #main #right_col #search .desc, #container #main #right_col #search .action {
    font-weight: bold;
}

 #container #main #left_col #newsletter .action, #container #main #left_col #search .action, #container #main #right_col #newsletter .action, #container #main #right_col #search .action {
    color: #fa241a;
}

 #container #main #left_col #newsletter input[type=text], #container #main #left_col #newsletter input[type=email], #container #main #left_col #search input[type=text], #container #main #left_col #search input[type=email], #container #main #right_col #newsletter input[type=text], #container #main #right_col #newsletter input[type=email], #container #main #right_col #search input[type=text], #container #main #right_col #search input[type=email] {
    display: block;
    width: 150px;
    padding: 2px 2px 2px 5px;
    margin-bottom: 10px;
}

 #container #main #left_col #newsletter input[type=submit], #container #main #left_col #search input[type=submit], #container #main #right_col #newsletter input[type=submit], #container #main #right_col #search input[type=submit] {
    background: #F23805; /* Old browsers */
    background: -moz-linear-gradient(top, #F23805 30%, #BF0411 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#F23805), color-stop(98%,#BF0411)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F23805 30%,#BF0411 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F23805 30%,#BF0411 98%); /* IE10+ */
    background: linear-gradient(top, #F23805 30%,#BF0411 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F23805', endColorstr='#BF0411',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
    border: 1px inset #bf3504;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    outline:none;
    padding:3px 5px;
    float:right;
    text-shadow: -1px -1px 8px #422200;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    font-size: 16px;
    padding: 3px 15px;
}

#container #main #home_content {
	float: left;
	margin: 0px 10px;
    width: 780px;
}

#container #main #mid_col {
    float: left;
    width: 580px;
    margin: 0px 10px;
}

 #container #main #mid_col.wide{
    width: 780px;
}

 #container #main #mid_col .heading {
    clear: both;
    display: block;
    height: 40px;
    padding: 0px 0px 0px 20px;
    background: #343434;
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 10px;
    font-family: 'Rockwell W01 Bold', serif;
}

footer {
    width: 100%;
    background: #282828;
    padding: 20px 0px;
    clear: both;
    margin-top: 80px;
}

 footer #footer_container {
    width: 980px;
    padding: 0px 20px;
    margin: auto;
}

footer #footer_container .footerlogo {
    width: 230px;
    float: left;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #857f73;
    min-height: 80px;
}

footer #footer_container .footerlogo img {
    width: 100%;
    height: auto;
}

footer #footer_container .footerlogo span.copy {
	color: #fff;
	font-size: 11px;
}

footer #footer_container .link_box {
    width: 200px;
    float: left;
}

 footer #footer_container .link_box a {
    display: block;
    color: white;
}

footer #footer_container .company {
    width: 260px;
    float: right;
}

footer #footer_container .company .curtlogo {
    display: block;
    margin: 15px 0 10px;
}

 footer #footer_container .company span {
    color: white;
    display: block;
}

 footer #footer_container .company span.copy {
    color: #fa241a;
}

footer #footer_container .company div.footer_graphics {
    position:relative;   
}

footer #footer_container .company div.footer_graphics a {
    text-decoration: none;
}

footer #footer_container .company div.footer_graphics a:hover img.active{
    display:inline-block;
}

footer #footer_container .company div.footer_graphics a:hover img.dark{
    display:none;
}

footer #footer_container .company div.footer_graphics img, footer #footer_container .footerlogo div.social_links img{ width: 32px; }

footer #footer_container div.social_links a img.active {
    -ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display:none;
}

footer #footer_container div.social_links a.email-share{
    width: 35px;
    height: 20px;
    display: inline-block;
}

footer #footer_container .company div.footer_graphics img.authorize,footer #footer_container .company div.footer_graphics img.sema{ width: 64px;margin: 10px 10px 0 0; }

#simplemodal-overlay{ background:black; z-index:100002 !important; }
#simplemodal-container, #simplemodal-loader{ z-index: 100002 !important; background:white; overflow:hidden; }
#simplemodal-loader{ border-radius: 4px; border: 8px solid #FA241A !important; }
.modalClose{ position: relative; top: -35px;background:transparent; color: White;font-size:13px; float: right; text-decoration: none;}
.modalClose span{ font-size: 20px; margin-left:5px; }
.modalClose:hover{ color:#FA241A; }

/* ==|== media queries ====================================================== PLACEHOLDER Media Queries for Responsive Design. These override the primary ('mobile first') styles Modify as content requires. ========================================================================== */
@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */
}

/* ==|== non-semantic helper classes ======================================== Please define your styles before this section. ========================================================================== */
/* For image replacement */
.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.ir br {
    display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

/* ==|== print styles ======================================================= Print styles. Inlined to avoid required HTTP connection: h5bp.com/r ========================================================================== */
@media print {
    * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
}

 /* Black prints faster: h5bp.com/s */
 a, a:visited {
    text-decoration: underline;
}

 a[href]:after {
    content: " (" attr(href) ")";
}

 abbr[title]:after {
    content: " (" attr(title) ")";
}

 .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}

 /* Don't show links for images, or javascript/internal links */
 pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

 thead {
    display: table-header-group;
}

 /* h5bp.com/t */
 tr, img {
    page-break-inside: avoid;
}

 img {
    max-width: 100% !important;
}

 @page {
    margin: 0.5cm;
}

 p, h2, h3 {
    orphans: 3;
    widows: 3;
}

 h2, h3 {
    page-break-after: avoid;
}
}

label span#rate {
	display: block;
	height: 17px;
	width: 90px;
	text-align: center;
}

label span#rate span.star {
	height: 17px;
	width: 18px;
	float: left;
	background: url('/Content/img/review_stars/star_sprite.png') top left no-repeat;
	cursor: pointer;
}

label span#rate span.hovered, label span#rate span.selected {
	background: url('/Content/img/review_stars/star_sprite.png') bottom left no-repeat;
}

#cartbox {
    display: none;
    box-shadow: 3px 3px 15px #121212;
    min-height: 100px;
    width: 400px;
    border: 3px solid #857F73;
    border-top: none;
    background-color: #fff;
    position: fixed;
    z-index: 100001;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

#cartbox table {
    width: 100%;
}

#cartbox table th, #cartbox table td {
    padding: 3px 5px;
}

#cartbox table tbody td {
    border: 1px solid #f2f2f2;
}

#cartbox table td.price {
    text-align: right;
}

#cartbox table td.qty {
    text-align: center;
}

#cartbox table tfoot td {
    font-weight: bold;
}

#cartbox table tfoot td:first-child {
    text-align: right;
}

#cartbox p {
    margin: 0;
}

#cartbox img#cartloader {
    margin: auto;
    display: block;
}

#cartbox table tbody td a.remove {
    color: #fff;
    background-color: #E64D2D;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    font-size: 15px;
    height: 16px;
    width: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 16px;
}

.button {
    border: 1px solid #FA241A;
    background: #FA241A;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 15px;
    text-decoration: none;
}

.button:hover {
    color: #fff;
    background: #E64D2D;
    border: 1px solid #FF502D;
}

div.contentpage-nav{
    float:right;
    width: 180px;
    margin-top:20px;
    padding-top:10px;
    border: 1px solid #e6e6e6;
    margin-left: 20px;
    background:#f7f7f7;
}

div.contentpage-nav span{
    font-size: 18px;
    display:block;
    padding: 0px 0px 5px 35px;
    background: url('/Content/img/faq_banner_small.png') no-repeat;
    height: 51px;
    line-height:35px;
    width: 210px;
    color:white;
    position: relative;
    left: -22px;
}

div.contentpage-nav ul{
    list-style:none;
    margin:0;
    padding:0;
}

div.contentpage-nav ul li{
    margin:0;
    padding:0;
}

div.contentpage-nav ul li a{
    padding: 5px 5px 5px 10px;
    display:block;
    height: 25px;
    line-height:25px;
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
    color: #2e2e30;
    border-left: 3px solid transparent;
}

div.contentpage-nav ul li a.active, div.contentpage-nav ul li a:hover{
    background:white;
    border-left: 3px solid #FA241A;
}

div.breadcrumbs {
    display: block;
    padding: 10px 0;
    font-size: 12px;
}

div.breadcrumbs a {
    margin: 0;
    padding: 0;
    color: #222;
    line-height: 1;
}

div.breadcrumbs span {
    color: #222;
    display: inline-block;
    line-height: 1;
    padding: 0 3px;
}