/* * HTML5 Boilerplate * * What follows is the result of much research on cross-browser styling. * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, * Kroc Camen, and the H5BP dev community and team. * * Detailed information about this CSS: h5bp.com/css * * ==|== normalize ========================================================== */
/* ============================================================================= HTML5 display definitions ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

/* ============================================================================= Base ========================================================================== */
/* * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units * 2. Force vertical scrollbar in non-IE * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */
html {
    font-size: 100%;
    overflow-y: scroll;
    font-family: "Droid Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-color: white;
    /* Old browsers */
}

body {
    margin: 0;
    font-size: 13px;
    overflow:auto;
    min-width:1020px;
    line-height: 1.231;
}

body, button, input, select, textarea {
    font-family: "Droid Sans", sans-serif;
    color: #222;
}

/* * Remove text-shadow in selection highlight: h5bp.com/i * These selection declarations have to be separate * Also: hot pink! (or customize the background color to match your design) */
::-moz-selection {
    background: #f;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f28705;
    color: #fff;
    text-shadow: none;
}

/* ============================================================================= Links ========================================================================== */
a {
    color: #00e;
    cursor: pointer;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
    outline: 0;
}

/* ============================================================================= Typography ========================================================================== */
abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ============================================================================= Lists ========================================================================== */
ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

/* ============================================================================= Embedded content ========================================================================== */
/* * 1. Improve image quality when scaled in IE7: h5bp.com/d * 2. Remove the gap between images and borders on image containers: h5bp.com/e */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

/* * Correct overflow not hidden in IE9 */
svg:not(:root) {
    overflow: hidden;
}

/* ============================================================================= Figures ========================================================================== */
figure {
    margin: 0;
}

/* ============================================================================= Forms ========================================================================== */
form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
    cursor: pointer;
}

/* * 1. Correct color not inheriting in IE6/7/8/9 * 2. Correct alignment displayed oddly in IE6/7 */
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}

/* * 1. Correct font-size not inheriting in all browsers * 2. Remove margins in FF3/4 S5 Chrome * 3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

/* * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) * 2. Correct inner spacing displayed oddly in IE6/7 */
button, input {
    line-height: normal;
    *overflow: visible;
}

/* * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input {
    *overflow: auto;
}

/* * 1. Display hand cursor for clickable form elements * 2. Allow styling of clickable form elements in iOS */
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

/* * Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* * Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* * 1. Remove default vertical scrollbar in IE6/7/8/9 * 2. Allow only vertical resizing */
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/* Colors for form validity */
input:invalid, textarea:invalid {
    background-color: #f0dddd;
}

p.error{
    color: #f28705;
    font-size: 14px;
}

.simple-form{
    width:100%;
    min-height:400px;
}

form.left{
    float:left;
    width:500px;
}

.simple-form span.share-heading{
    font-size:18px;
    color:#f28705;
    margin-bottom:15px;
    display: block;
}

.simple-form label{
    display:block;
    clear:both;
    min-height: 70px;
}

.simple-form span.required-helper{
    float:right;
    color: #f28705;
    font-size: 11px;
}

.simple-form label input,.simple-form label textarea,.simple-form label select{
    display:block;
    background:white;
    width: 350px;
    max-width:460px;
    padding: 5px;
    height: 20px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
    border: 1px solid #e0e0e0;
    resize:horizontal;
}

.simple-form label select{
    height:30px;
    width:365px;
}

.simple-form label textarea{
    resize:both;
    height:200px;
    max-height:400px;
    overflow:auto;
}

.simple-form input[type=submit]{
    display:block;
    border:none;
    background:#f28705;
    color:white;
    font-size:16px;
    min-width:100px;
    height:30px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
    font-weight:bold;
    margin-top:25px;
}

.simple-form input[type=submit]:hover,.simple-form input[type=submit]:active,.simple-form input[type=submit]:focus{
    background:#e07802;
    -moz-box-shadow: -1px -1px 3px #f28705;
	-webkit-box-shadow: -1px -1px 3px #f28705;
	-o-box-shadow: -1px -1px 3px #f28705;
	box-shadow: -1px -1px 3px #f28705;
}

.simple-form label input.err,.simple-form label textarea.err, .simple-form label div.err-shadow{
    border: 1px solid #f28705;
    -moz-box-shadow: 1px 1px 10px #f28705;
	-webkit-box-shadow: 1px 1px 10px #f28705;
	-o-box-shadow: 1px 1px 10px #f28705;
	box-shadow: 1px 1px 10px #f28705;
}

.simple-form div#captchabox {
    display: block;
    display: inline-block;
    padding-top: 30px;
}

.simple-form fieldset{
    background: #f2f2f2;
    padding: 10px 35px;
    margin-bottom: 20px;  
}

.simple-form fieldset legend, .left p.tab-title {
    font-size: 18px;
    padding-bottom: 10px;
    color: #f28705;   
}

/* ============================================================================= Tables ========================================================================== */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

/* ==|== primary styles ===================================================== Author: ========================================================================== */

.error, .success{
    font-size:14px;
    display:block;
    margin: 5px 0px;
}

.error{ color: #bf3514; }
.success{ color: #3b825d; }
.left{ float:left;}
.right{ float:right; }

ul.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.tabs li {
    list-style: none;
    display: block;
    width: 100px;
    float: left;
    margin-right: 5px;
    padding: 10px;
    padding-bottom: 0px;
}

ul.tabs li a {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-bottom: 4px solid #989898;
    border-bottom: 4px solid rgba(50, 68, 82,0.4);
    border-radius: 2px 2px 0px 0px;
    -webkit-transition: all 0.4s ease-in-out;
}

ul.tabs li a:hover, ul.tabs li a.active {
    border-bottom: 4px solid #343434;
}

.tab_container {
    clear: both;
    position:relative;
    border-top: 1px solid #e6e6e6;
    box-shadow: 2px 2px 2px #e6e6e6;
    margin-bottom:50px;
    padding-bottom:20px;
}

.tab_container .tab_content{
    padding:15px;
    width: 749px;
}

.tab_container div.tab_content.active{
    display:block;
}


html.oldie #top_bar{
    left:0px;
}

#container {
    min-width: 1020px;
    max-width: 1020px;
    margin: auto;
    z-index: -1;
}

header {
    width:100%;
    background: white;
    margin-bottom: 0px;
    padding: 0px;
    z-index: 1000;
    height: 190px;
}

html.ie7 header{
    height: 60px;
}

header #top_bar{
    background: #343434;
    position:relative;
    top: 0px;
    width: 100%;
    z-index:10000;
    box-shadow: 3px 3px 3px #e0e0e0;
}

header #top_bar #scroll_logo{
    height:60px;
    display:block;
    float:left;
    width:323px;
    font-size: 1.8em;
    font-weight:bold;
    color: #343434;
    text-align: center;
    width:400px;
}

header #top_bar #scroll_logo img{
    width:275px;
    margin-top: 7px;
}

header #top_bar #scroll_logo, header .logo{
    background: url('img/header-holder_400x60.png') no-repeat white;
}

header .call_us {
    margin-right:66px;
    float: right;
}

header nav {
    padding: 0px;
    /*border-radius: 15px 15px 0px 0px;
    */
 height: 60px;
    width: 1020px;
    margin:auto;
    background: #343434;
}

header nav a.sub_link{
    color: #f2e0bc;
    display:inline-block;
    float:right;
    width: 90px;
    border-left: 1px solid #66635f;
    font-size: 11px;
    text-align: center;
    padding-top: 5px;
    text-decoration:none;
}

header nav a.sub_link:hover{
    background: rgb(12,50,79); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(12,50,79) 0%, rgb(50,68,82) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(12,50,79)), color-stop(100%,rgb(50,68,82))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(12,50,79) 0%,rgb(50,68,82) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(12,50,79) 0%,rgb(50,68,82) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(12,50,79) 0%,rgb(50,68,82) 100%); /* IE10+ */
    background: linear-gradient(top, rgb(12,50,79) 0%,rgb(50,68,82) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c324f', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
}

header nav a.sub_link:nth-child(3){
    border-right: 1px solid #66635f;
    margin-right:10px;
}

header nav span.phone{
    font-size: 11px;
    font-weight: 600;
    color: #F2E0BC;
    display: block;
    padding-top: 5px;
    float:right;
}

header #top_bar .error_display{
    display: none;
    margin: auto;
    text-align:center;
    position: fixed;
    bottom: 0;
    width: 1020px;
}

header #top_bar .error_display span.error_heading{
    background:orange;
    display:inline;
    border-radius: 6px 6px 0px 0px;
    font-size: 24px;
    color:black;
    padding: 5px 10px 5px 10px;
}

header #top_bar .error_display span.err{
    font-size: 16px;
    margin-left: 10px;
    margin-right:10px;
    position:relative;
    top:-2px;
}

header #top_bar .error_display span.close{
    font-size: 12px;
    color: white;
    font-weight:bold;
    padding:2px;
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: -4px;
    cursor: pointer;
}

header #top_bar div.sub_menu{
    background: #f28705;
    height: 30px;
    width: 100%;
}

header #top_bar div.sub_menu div.sub_menu_container{
    width: 1020px;
    margin:auto;
}

header #top_bar div.sub_menu div.sub_menu_container form{
    display:inline-block;
    width: 440px;
    vertical-align: bottom;
}

header #top_bar div.sub_menu div.sub_menu_container form input[type=search]{
    border: 1px solid #bf3504;
    height: 18px;
    border-radius: 2px;
    width: 272px;
    margin-left:40px;
    padding: 2px 40px 2px 5px;
    vertical-align: middle;
}

html.ie8 header #top_bar div.sub_menu div.sub_menu_container form input[type=search]{
    vertical-align:top;
    margin-top:3px;
}

html.ie7 header #top_bar div.sub_menu div.sub_menu_container form #mini-search{
    height:19px;
    vertical-align: bottom;
    width: 350px;   
}

header #top_bar div.sub_menu div.sub_menu_container form input[type=submit]{
    background: url('img/mini_search_box_button.png');
    border:none;
    height:24px;
    width:37px;
    position:relative;
    right:40px;
    top:-3px;
}

html.ie8 header #top_bar div.sub_menu div.sub_menu_container form input[type=submit]{
    margin-top:6px;
    vertical-align: middle;
}

html.ie7 header #top_bar div.sub_menu div.sub_menu_container form #btnSearch{
    top:6px;
    position:relative;
}

header #top_bar div.sub_menu div.sub_menu_container a,header #top_bar div.sub_menu div.sub_menu_container span{
    font-size: 12px;
    display:inline-block;
    width: 85px;
    text-decoration:none;
    color: #343434;
    line-height:30px;
    height:30px;
}

header #top_bar div.sub_menu div.sub_menu_container a{
    text-align:center;
    vertical-align: top;
}

header #top_bar div.sub_menu div.sub_menu_container a:hover{
    background: rgb(188,72,33); /* Old browsers */
background: -moz-linear-gradient(top, rgb(188,72,33) 0%, rgb(242,135,5) 25%, rgb(242,135,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(188,72,33)), color-stop(25%,rgb(242,135,5)), color-stop(100%,rgb(242,135,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(188,72,33) 0%,rgb(242,135,5) 25%,rgb(242,135,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(188,72,33) 0%,rgb(242,135,5) 25%,rgb(242,135,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(188,72,33) 0%,rgb(242,135,5) 25%,rgb(242,135,5) 100%); /* IE10+ */
background: linear-gradient(top, rgb(188,72,33) 0%,rgb(242,135,5) 25%,rgb(242,135,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc4821', endColorstr='#f28705',GradientType=0 ); /* IE6-9 */
}

header #top_bar div.sub_menu div.sub_menu_container span {
    width: 130px;
    font-weight:bold;
    float:right;
    text-align: right;
}

header #top_bar div.sub_menu div.sub_menu_container span.phone{
    width: 200px;
}

header #top_bar div.sub_menu div.sub_menu_container span#cartCount {
    width: auto;
    font-weight: normal;
    float: none;
    text-align: center;
    height: auto;
}

header #top_bar div.sub_menu div.sub_menu_container a.bookmark{
    float:right;
}

header div.sub_bar{
    width:1020px;
    margin:auto;
    margin-bottom: 60px;
    position:relative;  
}

html.ie7 header div.sub_bar{
    margin: 20px auto;
}

 header .logo{
    display: block;
    float: left;
    z-index: 20000;
    position:relative;
    margin-top: -60px;
    width:400px;
    text-align:center;
    display:none;
}

header .logo img{
    width:275px;
}

header nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    float: right;
    height: 35px;
    padding-top: 25px;
    position: relative;
    left: 0px;
    background: #343434;
}

header nav ul li {
    float: left;
    list-style: none;
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
    height: 35px;
    width: 120px;
    line-height: 35px;
    -webkit-transition: background 0.3s ease-in-out;
}

header nav ul li a {
    text-align: center;
    padding: 0px 10px;
    font-size: 90%;
    color: #f2e0bc;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

header nav ul li:hover {
    background: url('img/nav_corner.png') no-repeat #343434;
}

header nav ul li:hover a {
    color: white;
}

 header #search_box{
    overflow:hidden;
    border: 1px solid #bf3504;
    float: left;
    display: block;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 600px;
    background: #f28705;
    /* Old browsers */
background: -moz-linear-gradient(top, #f28705 30%, #bf3504 98%);
    /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#f28705), color-stop(98%,#bf3504));
    /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f28705 30%,#bf3504 98%);
    /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f28705 30%,#bf3504 98%);
    /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f28705 30%,#bf3504 98%);
    /* IE10+ */
background: linear-gradient(top, #f28705 30%,#bf3504 98%);
    /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28705', endColorstr='#bf3504',GradientType=0 );
    /* IE6-9 */
 border-radius: 3px 3px 3px;
    padding: 10px;
}

header #search_box label{
    color: white;
    font-size: 20px;
    font-weight:bold;
    float:left;
}

header #search_box label span{
    display:block;
    font-size: 10px;
}

header #search_box input[type=search]{
    float: left;
    height: 31px;
    width: 351px;
    display:block;
    border-radius: 3px 0px 0px 3px;
    border: none;
    padding: 3px 3px 3px 10px;
    line-height: 19px;
    margin-left: 6px;
}

header #search_box input[type=submit]{
    float:right;
    width: 60px;
    height: 38px;
    background: url('img/search_box_button.png');
    border:none;
    z-index:100;
    position:absolute;
    right: 10px;
}

#container #main {
    background: white;
    min-height: 800px;
    padding-top: 0px;
    margin-top: 0px;
}

html.ie7 #container{
    margin-top:120px;
}

#master_lookup{
    width:785px;
    height:60px;
    padding: 10px;
    float:right;
    margin-bottom: 20px;
    background: #343434;
    box-shadow: 3px 3px 3px #e0e0e0;
    border: 1px solid #23333f;
    border-radius: 3px;
}

#master_lookup #lookup_title{
    text-transform:uppercase;
    font-size: 24px;
    font-weight:bold;
    color: #f2e0bc;
    text-shadow: 0px -2px -2px #23333f;
}

#master_lookup #lookup_subtitle{
    margin-left: 10px;
    font-size: 12px;
    color: #bf3504;
    font-weight:bold;
    text-shadow: 0px -2px 2px #23333f;
}

#master_lookup label{
    width: 164px;
    float:left;
    margin-right: 1%;
}

#master_lookup label img{
    display:none;
    width:14px;
}

#master_lookup label select{
    width: 147px;
    margin-bottom: 3px;
    overflow:hidden;
}

#master_lookup label select:focus{
    overflow:auto;
}

#master_lookup label select.err{
    border: 1px solid rgb(198, 64, 43);
}

#master_lookup label span{
    display:none;
    font-size: 10px;
    color: rgb(198, 64, 43);
}

#master_lookup input[type=submit]{
    background: #f28705;
    /* Old browsers */
 background: -moz-linear-gradient(top, #f28705 30%, #bf3504 98%);
    /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#f28705), color-stop(98%,#bf3504));
    /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #f28705 30%,#bf3504 98%);
    /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #f28705 30%,#bf3504 98%);
    /* Opera 11.10+ */
 background: -ms-linear-gradient(top, #f28705 30%,#bf3504 98%);
    /* IE10+ */
 background: linear-gradient(top, #f28705 30%,#bf3504 98%);
    /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28705', endColorstr='#bf3504',GradientType=0 );
    /* IE6-9 */
 border-radius: 3px 3px 3px;
    border: 1px solid #bf3504;
    color:White;
    outline:none;
    padding:3px 5px;
    float:left;
    margin-top: -3px;
}

#master_lookup #reset_lookup{
    margin-left: 2px;
    font-size:11px;
    line-height:30px;
    color: #999;
}

html.ie7 #master_lookup #reset_lookup{
    line-height: 15px;
}

#lookup_summary{
    width:100%;
    box-shadow: 0px 1px 0px #e0e0e0;
}

#lookup_summary span:last-child{
    float:right;
}

 #container #main #left_col, #container #main #right_col {
    float: left;
    width: 210px;
}

 #container #main #left_col .module, #container #main #right_col .module {
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    box-shadow: 3px 3px 3px #e6e6e6;
    border-radius: 8px 8px 0px 0px;
}

 #container #main #left_col .module .module_title, #container #main #right_col .module .module_title {
    width: 190px;
    height: 35px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background:#343434;
    display: block;
    line-height: 35px;
    padding-left: 10px;
    border-radius: 8px 8px 0px 0px;
}

 #container #main #left_col .module ul, #container #main #right_col .module ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
    display: block;
}

 #container #main #left_col .module ul li, #container #main #right_col .module ul li {
    display: block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-bottom: 1px dotted #e0e0e0;
    padding: 0px 10px;
}

 #container #main #left_col .module ul li:hover, #container #main #right_col .module ul li:hover {
    border: 1px dotted transparent;
    background: url("img/module_list_hover.png");
    background-repeat: no-repeat;
    width: 190px;
}

 #container #main #left_col .module ul li a{
    color: Black;
    text-decoration:none;
    display:block;
    width: 100%;
    height: 30px;
    line-height:30px;
}

 #container #main #left_col #newsletter .desc, #container #main #left_col #newsletter .action, #container #main #left_col #newsletter form, #container #main #left_col #search .desc, #container #main #left_col #search .action, #container #main #left_col #search form, #container #main #right_col #newsletter .desc, #container #main #right_col #newsletter .action, #container #main #right_col #newsletter form, #container #main #right_col #search .desc, #container #main #right_col #search .action, #container #main #right_col #search form {
    padding: 0px 10px;
}

 #container #main #left_col #newsletter .desc, #container #main #left_col #newsletter .action, #container #main #left_col #search .desc, #container #main #left_col #search .action, #container #main #right_col #newsletter .desc, #container #main #right_col #newsletter .action, #container #main #right_col #search .desc, #container #main #right_col #search .action {
    font-weight: bold;
}

 #container #main #left_col #newsletter .action, #container #main #left_col #search .action, #container #main #right_col #newsletter .action, #container #main #right_col #search .action {
    color: #de6339;
}

 #container #main #left_col #newsletter input[type=text], #container #main #left_col #newsletter input[type=email], #container #main #left_col #search input[type=text], #container #main #left_col #search input[type=email], #container #main #right_col #newsletter input[type=text], #container #main #right_col #newsletter input[type=email], #container #main #right_col #search input[type=text], #container #main #right_col #search input[type=email] {
    display: block;
    width: 150px;
    padding: 2px 2px 2px 5px;
    margin-bottom: 10px;
}

 #container #main #left_col #newsletter input[type=submit], #container #main #left_col #search input[type=submit], #container #main #right_col #newsletter input[type=submit], #container #main #right_col #search input[type=submit] {
    margin-bottom: 10px;
    float: right;
    border: 1px solid #FF502D;
    background: #E64D2D;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

 #container #main #mid_col {
    float: left;
    width: 580px;
    margin: 0px 10px;
}

 #container #main #mid_col.wide{
    width: 780px;
}

 #container #main #mid_col .heading {
    clear: both;
    display: block;
    height: 40px;
    padding: 0px 0px 0px 20px;
    background: #343434;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    background: #282828;
    padding: 20px 0px;
    clear: both;
    margin-top: 80px;
}

 footer #footer_container {
    width: 980px;
    padding: 0px 20px;
    margin: auto;
}

 footer #footer_container .link_box {
    width: 200px;
    float: left;
}

 footer #footer_container .link_box a {
    display: block;
    color: white;
}

 footer #footer_container .company {
    width: 400px;
    float: right;
}

 footer #footer_container .company span {
    color: white;
    display: block;
}

 footer #footer_container .company span.copy {
    color: #de6339;
}

footer #footer_container .company div.social_links{
    position:relative;   
}

footer #footer_container .company div.social_links a {
    text-decoration: none;
}

footer #footer_container .company div.social_links a:hover img.active{
    display:inline-block;
}

footer #footer_container .company div.social_links a:hover img.dark{
    display:none;
}

footer #footer_container .company div.social_links img{ width: 32px; }

footer #footer_container .company div.social_links a img.active {
    -ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display:none;
}

footer #footer_container .company div.social_links a.email-share{
    width: 35px;
    height: 20px;
    display: inline-block;
}

footer #footer_container .company div.social_links img.authorize,footer #footer_container .company div.social_links img.sema{ width: 64px;margin-right:10px; }

#simplemodal-overlay{ background:black; z-index:100002 !important; }
#simplemodal-container{ z-index: 100002 !important; background:white; overflow:hidden; }
.modalClose{ position: relative; top: -35px;background:transparent; color: White;font-size:13px; float: right; text-decoration: none;}
.modalClose span{ font-size: 20px; margin-left:5px; }
.modalClose:hover{ color:#f28705; }

/* ==|== media queries ====================================================== PLACEHOLDER Media Queries for Responsive Design. These override the primary ('mobile first') styles Modify as content requires. ========================================================================== */
@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */
}

/* ==|== non-semantic helper classes ======================================== Please define your styles before this section. ========================================================================== */
/* For image replacement */
.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.ir br {
    display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

/* ==|== print styles ======================================================= Print styles. Inlined to avoid required HTTP connection: h5bp.com/r ========================================================================== */
@media print {
    * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
}

 /* Black prints faster: h5bp.com/s */
 a, a:visited {
    text-decoration: underline;
}

 a[href]:after {
    content: " (" attr(href) ")";
}

 abbr[title]:after {
    content: " (" attr(title) ")";
}

 .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}

 /* Don't show links for images, or javascript/internal links */
 pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

 thead {
    display: table-header-group;
}

 /* h5bp.com/t */
 tr, img {
    page-break-inside: avoid;
}

 img {
    max-width: 100% !important;
}

 @page {
    margin: 0.5cm;
}

 p, h2, h3 {
    orphans: 3;
    widows: 3;
}

 h2, h3 {
    page-break-after: avoid;
}
}

label span#rate {
	display: block;
	height: 17px;
	width: 90px;
	text-align: center;
}

label span#rate span.star {
	height: 17px;
	width: 18px;
	float: left;
	background: url('/Content/img/review_stars/star_sprite.png') top left no-repeat;
	cursor: pointer;
}

label span#rate span.hovered, label span#rate span.selected {
	background: url('/Content/img/review_stars/star_sprite.png') bottom left no-repeat;
}

#cartbox {
    display: none;
    box-shadow: 3px 3px 3px #ccc;
    min-height: 100px;
    width: 400px;
    border: 3px solid #F28705;
    border-top: none;
    background-color: #fff;
    position: fixed;
    z-index: 10001;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

#cartbox table {
    width: 100%;
}

#cartbox table th, #cartbox table td {
    padding: 3px 5px;
}

#cartbox table tbody td {
    border: 1px solid #f2f2f2;
}

#cartbox table td.price {
    text-align: right;
}

#cartbox table td.qty {
    text-align: center;
}

#cartbox table tfoot td {
    font-weight: bold;
}

#cartbox table tfoot td:first-child {
    text-align: right;
}

#cartbox p {
    margin: 0;
}

#cartbox img#cartloader {
    margin: auto;
    display: block;
}

#cartbox table tbody td a.remove {
    color: #fff;
    background-color: #E64D2D;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    font-size: 15px;
    height: 16px;
    width: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 16px;
}

.button {
    border: 1px solid #f28705;
    background: #f28705;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 15px;
    text-decoration: none;
}

.button:hover {
    color: #fff;
    background: #E64D2D;
    border: 1px solid #FF502D;
}
