@{
    ViewBag.Title = "Error";
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@settings.Get("PathToCSS")/css/404.css" rel="stylesheet" type="text/css" />
<div class="explanation">
    <div class="title">
        <img src="/Content/img/pageerror.gif" alt="Page Error" />
        <span>The page cannot be found</span>
    </div>
</div>