@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/view_sass/404.css" rel="stylesheet" type="text/css" />
<div class="explanation">
    <div class="title">
        <img src="/Content/img/pageerror.gif" alt="Page Error" />
        <span>The page cannot be found</span>
    </div>
</div>