@{
    Dictionary<string, List<EcommercePlatform.Models.APIPart>> parts = ViewBag.parts;
    if (parts == null) {
        parts = new Dictionary<string, List<EcommercePlatform.Models.APIPart>>();
        parts.Values.DefaultIfEmpty<List<EcommercePlatform.Models.APIPart>>();
    }
    ViewBag.partCount = parts.Count;

    int more_count = ViewBag.more_count;
    if (more_count == null) {
        more_count = 0;
    }
    int page = ViewBag.page;
    if (page == null) {
        page = 1;
    }
    int per_page = ViewBag.per_page;
    if (per_page == null) {
        per_page = 10;
    }

    string term = ViewBag.search_term;
    if (term == null) {
        term = "";
    }
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
}
<input type="hidden" id="searchTerm" value="@term" />
<link href="@settings.Get("PathToCSS")/css/search.css" rel="stylesheet" type="text/css" />

<span class="search_results">Your search for "<strong>@term</strong>" returned ( @((parts.Values != null && parts.Values.FirstOrDefault() != null)?parts.Values.FirstOrDefault().Count:0) ) results</span>
@{Html.RenderPartial("_PartListing");}

@if (more_count > 0) {
    <a href="/Search/Index?search=@term&page=@(page + 1)&perpage=@(per_page)" title="View More" class="view_more">
        View More</a>
}
@if (HttpContext.Current.IsDebuggingEnabled) {
    <script src="/Scripts/custom/search.js" type="text/javascript"></script>
} else {
    <script src="/Scripts/custom/search.min.js" type="text/javascript"></script>
}
