@{
    ViewBag.defaultcss = new List<string> { "/Content/css/auth.css" };
    ViewBag.defaultjs = new List<string> { "/Scripts/custom/auth.js" };
    string error = ViewBag.error ?? "";
    ViewBag.setup = true;
    ViewBag.Title = "Login";
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(error.Length > 0){
    <p class="error">@Html.Raw(error)</p>
}

<h2>Sign Up for an Account</h2>
<div class="left">
    <p>To Sign up, please fill out the form below.  You will receive a confirmation e-mail after you have submitted the form.</p>
    @Html.Partial("_RegistrationForm")
</div>
<div class="clearfix"></div>