@{
    List<EcommercePlatform.Testimonial> testimonials = ViewBag.testimonials;
    if (testimonials == null) {
        testimonials = new List<EcommercePlatform.Testimonial>();   
    }

    int pagecount = ViewBag.pagecount;
    int page = ViewBag.page;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/view_sass/testimonials.css" rel="stylesheet" type="text/css" />
<div class="content">
    <h2>Testimonials</h2>
    <a href="/Testimonials/Add" id="addTestimonial">Write Your Testimonial</a>

    @foreach (EcommercePlatform.Testimonial testimonial in testimonials) {
        <article>
            <span class="date">Submitted on @String.Format("{0:MM/dd/yyyy hh:mm tt}",testimonial.dateAdded)</span>
            <span class="name">By @((String.IsNullOrEmpty(testimonial.first_name.Trim()) && String.IsNullOrEmpty(testimonial.last_name.Trim())) ? "Anonymous" : testimonial.first_name + " " + testimonial.last_name)</span>
            <p>@testimonial.testimonial1</p>
        </article>
    }
    @if(pagecount > 1) {
        <footer id="pagination">
            @if (page > 1 && pagecount > 1) {
                //Previous page link
                <a id="prevpage" rel="prev" href="/Testimonials?page=@(page - 1)">&lt; Prev</a>
            }
            <span id="pagecount">Page @page of @pagecount</span>
            @if (pagecount > 1 && page != pagecount) {
                //Next page link
                <a id="nextpage" rel="next" href="/Testimonials?page=@(page + 1)">Next &gt;</a>
            }
        </footer>
    }

</div>
