@{
    EcommercePlatform.Customer cust = ViewBag.cust;
    if(cust == null){
        cust = new EcommercePlatform.Customer();
    }
    
    string error = ViewBag.error;
    if(error == null){
        error = "";
    }
    
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Content/view_sass/account.css" rel="stylesheet" type="text/css" />
<h1>My Account - Order History</h1>
<p class="error">@error</p>
<ul class="tabs nojs">
    <li>
        <a href="/Account" title="Basic Information">Account</a>
    </li>
    <li>
        <a href="/Account/Password" title="Change Password">Password</a>
    </li>
    <li>
        <a href="/Account/Orders" title="View Orders" class="active">Orders</a>
    </li>
    <li>
        <a href="/Account/Addresses" title="View Addresses">Addresses</a>
    </li>
</ul>
<div class="tab_container">
    <div class="tab_content">
        <article class="order-heading">
            <span class="title">Order #</span>
            <div class="info">
                <span class="date">Date Created</span>
                <span class="total">Order Total</span>
            </div>
        </article>
        @foreach (EcommercePlatform.Cart order in cust.Orders) {
            <article class="order" data-id="@order.payment_id">
                <span class="title">Order #@(order.payment_id)</span>
                <div class="info">
                    <span class="date">@Convert.ToDateTime(order.date_created)</span>
                    <span class="total">@String.Format("{0:C}",order.getTotal())</span>
                </div>
            </article>
        }
        <div class="clearfix"></div>
    </div>
</div>
<script src="/Scripts/custom/account.js" type="text/javascript"></script>
