div.blog-nav{
    float:right;
    width: 180px;
    margin-top:20px;
    padding-top:10px;
    border: 1px solid #e6e6e6;
    margin-left: 20px;
    background:#f7f7f7;
}

div.blog-nav span{
    font-size: 18px;
    display:block;
    padding: 0px 0px 5px 35px;
    background: url('/Content/img/faq_banner_small.png') no-repeat;
    height: 51px;
    line-height:35px;
    width: 210px;
    color:white;
    position: relative;
    left: -22px;
}

div.blog-nav span.arrow-right {
    width: 0;
    height: 0;
    background: none;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
    float: left;
    margin: 0;
    padding: 0;
    left: 4px;
    top: 12px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

div.blog-nav span.arrow-down {
    width: 0;
    height: 0;
    background: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    float: left;
    margin: 0;
    padding: 0;
    left: 1px;
    top: 15px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}


div.blog-nav ul{
    list-style:none;
    margin:0;
    padding:0;
}

div.blog-nav ul li{
    margin:0;
    padding:0;
}

div.blog-nav ul li a{
    padding: 5px 5px 5px 10px;
    display:block;
    height: 25px;
    line-height:25px;
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
    color: #2e2e30;
    border-left: 3px solid transparent;
}

div.blog-nav ul li a.active, div.blog-nav ul li a:hover{
    background:white;
    border-left: 3px solid #FA241A;
}

div.content{
    float:left;
    width: 550px;
}

div.content article{
    padding: 20px 10px;
    border-bottom: 1px solid #e5e5e5;
}
div.content article span{ display:block; }
div.content article span strong{ margin-right: 10px; }
div.content article span.header{
    padding-bottom: 10px;
}
div.content article span.header a, div.content article span.header h2 {
    font-weight: bold;
    color: #222;
    font-size: 20px;
    margin: 0;
}

div.content article span.header p.byline {
    display: block;
    font-size: 11px;
    margin: 3px 0 0;
    padding: 3px 0 0;
    text-align: left;
    border-top: 1px solid #e5e5e5;
}

div.content article span.header p.byline span {
    text-align: right;
    float: right;
}

div.content article span.header p.byline a {
    font-size: 11px;
}

div.content article a.readmore {
    color: #222;
    font-weight: bold;
}

div.content article span.header p.categories {
    display: block;
    font-size: 11px;
    margin: 3px 0 0;
}

div.content article span.header p.categories a {
    font-size: 12px;
}

div.content article footer {
    width: auto;
    display: block;
    background: #efefef;
    margin-top: 10px;
    padding: 10px;
}

div.content article footer p {
    margin: 0;
    font-size: 11px;
    display: block;
}

div.content article footer p a {
    float: right;
    color: #222;
    font-weight: bold;
}

div.content footer#pagination {
    background-color: #E6E6E6;
    display: block;
    width: auto;
    padding: 10px;
    margin-top: 15px;
    text-align: left;
    text-align: center;
}

div.content footer#pagination a#prevpage {
    float: left;
    color: #222;
    font-weight: bold;
    text-decoration: none;
}

div.content footer#pagination a#nextpage {
    float: right;
    color: #222;
    font-weight: bold;
    text-decoration: none;
}

div.content footer#pagination a#nextpage:hover, div.content footer#pagination a#prevpage:hover {
    text-decoration: underline;
}

div.content p.message {
    font-weight: bold;
    color: #DE6339;
}

img.authorimg {
	float: left;
	max-width: 200px;
	height: auto;
	border: 1px solid #ccc;
	padding: 2px;
	margin: 0 10px 12px;
}

h3.authorname {
    margin: 10px 0;
    display: block;
}

p.biography {
    display: block;
	font-size: 12px;
}

#comment_form .simple-form{
    min-height: 200px;    
}