div.faq-topics{
    float:right;
    width: 180px;
    margin-top:20px;
    padding-top:10px;
    border: 1px solid #e6e6e6;
    margin-left: 20px;
    background:#f7f7f7;
}

div.faq-topics span{
    font-size: 18px;
    display:block;
    padding: 0px 0px 5px 35px;
    background: url('/Content/img/faq_banner_small.png') no-repeat;
    height: 51px;
    line-height:35px;
    width: 210px;
    color:white;
    position: relative;
    left: -22px;
}

div.faq-topics ul{
    list-style:none;
    margin:0;
    padding:0;
}

div.faq-topics ul li{
    margin:0;
    padding:0;
}

div.faq-topics ul li a{
    padding: 5px 5px 5px 10px;
    display:block;
    height: 25px;
    line-height:25px;
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
    color: #2e2e30;
    border-left: 3px solid transparent;
}

div.faq-topics ul li a.active, div.faq-topics ul li a:hover{
    background:white;
    border-left: 3px solid #FA241A;
}

div.content{
    float:left;
    width: 550px;
}

div.content article{
    padding: 20px 10px;
    border-bottom: 1px solid #e5e5e5;
}

div.content article span{ display:block; }
div.content article span strong{ margin-right: 10px; }
div.content article span.question{
    padding-bottom: 10px;
    font-size: 20px;
}