@{
    EcommercePlatform.ContentPage page = ViewBag.page;
    if(page == null){
        page = new EcommercePlatform.ContentPage();
    }

    string message = ViewBag.message;
    if (message == null) {
        message = "";
    }
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (message.Length > 0) {
    <span class="heading err">@message</span>
}

@if (page != null && page.content != null && page.content.Length > 0) {
    Html.Raw(page.content);
}
