@{
    bool success = ViewBag.success;
    string message = ViewBag.message;

    EcommercePlatform.ContentPage page = ViewBag.page;
    if(page == null){
        page = new EcommercePlatform.ContentPage();
    }
    
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Newsletter Signup</h2>

<span class="msg @((success)?"success":"error")">@message</span>

@if (page != null && page.content != null && page.content.Length > 0) {
    <span class="heading">Here's a preview of our current newsletter.</span>
} else {
    <span class="heading">We currently do not have a newsletter that is published.</span>
}
