@{
    EcommercePlatform.Customer cust = ViewBag.cust;
    if (cust == null){
        Response.Redirect("/Authenticate");
    }
    ViewBag.billing = cust.Address;
    ViewBag.shipping = cust.Address1;
    ViewBag.setup = false;

    string message = ViewBag.message ?? "";
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/view_sass/account.css" rel="stylesheet" type="text/css" />
<h1>My Account - Change Password</h1>
<p class="error">@message</p>
<ul class="tabs nojs">
    <li>
        <a href="/Account" title="Basic Information">Account</a>
    </li>
    <li>
        <a href="/Account/Password" title="Change Password" class="active">Password</a>
    </li>
    <li>
        <a href="/Account/Orders" title="View Orders">Orders</a>
    </li>
    <li>
        <a href="/Account/Addresses" title="View Addresses">Addresses</a>
    </li>
</ul>
<div class="tab_container">
    <div class="tab_content">
        <form class="simple-form" action="/Account/ResetPassword" method="post">
            <fieldset class="left">
                <label for="current">
                    Current Password:
                    <input type="password" name="current" id="current" title="Current Password is Required" required />
                </label>
                <label for="new">
                    New Password:
                    <input type="password" name="new" id="new" title="New Password is Required" required />
                </label>
                <label for="new">
                    Confirm New Password:
                    <input type="password" name="confirm" id="confirm" title="You must confirm your new password" required />
                </label>
                <input type="submit" id="btnSubmit" value="Change Password" />
            </fieldset>
        </form>
    </div>
</div>

