@{
    ViewBag.defaultcss = new List<string>();
    ViewBag.defaultjs = new List<string>();
    ViewBag.Title = "Vehicle Lookup";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int part_count = ViewBag.partCount;
    part_count = (part_count == null) ? 0 : part_count;
}
<div id="lookup_summary">
    <span>Your search returned ( @part_count ) parts.</span>
    <span id="vehicle_string">@(ViewBag.year + " " + ViewBag.make + " " + ViewBag.model + " " + ViewBag.style)</span>
</div>
@{Html.RenderPartial("_PartListingDetail");}
