@{
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
}
<!-- JavaScript at the bottom for fast page loading -->
<!-- scripts concatenated and minified via build script -->

<!-- Facebook Like functionality -->
<!--<div id="fb-root"></div>
<script>    (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=154903937934243";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->
    
<!-- Tweet Functionality -->
<!-- <script defer src="//platform.twitter.com/widgets.js"></script> -->

<!-- ShareThis Functionality -->
<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "3eaa9af9-4d08-464e-9059-2a8a16b5d011", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
<!-- End ShareThis -->

<script src="/Scripts/jquery.simplemodal.1.4.4.min.js" ></script>
<script src="/Scripts/tools/jquery.bbq.min.js"></script>
<script src="/Scripts/tools/jquery.cycle.js"></script>
<script src="/Scripts/tools/jquery.dataTables.min.js"></script>
<script src="/Scripts/tools/shadowbox.js"></script>

<!-- end scripts -->
@if (settings.Get("GoogleAnalyticsCode") != "") {
    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
        mathiasbynens.be/notes/async-analytics-snippet -->
    <script type="text/javascript">
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
}
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
    chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
<script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->