<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaskScheduler.Properties.Settings.ecom_platformConnectionString" connectionString="Data Source=srjbmn26rz.database.windows.net;Initial Catalog=EcommercePlatform;Persist Security Info=True;User ID=discounthitch;Password=eC0mm3rc3" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type=""/>
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
