<?xml version="1.0"?>
<connectionStrings>
  <add name="ecom_platformConnectionString" connectionString="Data Source=d49echki7t.database.windows.net;Initial Catalog=ecom_platform;Persist Security Info=True;User ID=hitchdepotusa;Password=eC0mm3rc3" providerName="System.Data.SqlClient" />
</connectionStrings>
