<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- Append below entry to configSections. Do not overwrite the full section. -->
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="ecom_platformConnectionString" connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CURT_API_DOMAIN" value="http://api.curtmfg.com/v2/" />
    <add key="CURT_API_SHIPPING_DOMAIN" value="http://api.curtmfg.com/Ordering/" />
    <!--<add key="RecaptchaPublicKey" value="6Le_580SAAAAAP24xCK-3lZjwcBpM1i_5r5zdar8" />
    <add key="RecaptchaPrivateKey" value="6Le_580SAAAAAKXXiUpFHr2WCmj93-qHl-J7i_xc" />-->
    <add key="RecaptchaPublicKey" value="6Lez_M4SAAAAAO5KolPYn6CqdPRH0K5Ep8BxdIxI" />
    <add key="RecaptchaPrivateKey" value="6Lez_M4SAAAAADcsGJHVre_OA2Tjpi0s3VMRnL6e" />
    <add key="RecaptchaAzurePublic" value="6Lez_M4SAAAAAO5KolPYn6CqdPRH0K5Ep8BxdIxI" />
    <add key="RecaptchaAzurePrivate" value="6Lez_M4SAAAAADcsGJHVre_OA2Tjpi0s3VMRnL6e" />
    <add key="RecaptchaProductionPublic" value="6Ldt_c4SAAAAALU0FsIPDoIwyC_siVZekbnI9-Qn" />
    <add key="RecaptchaProductionPrivate" value="6Ldt_c4SAAAAADJHEw-6M89j-0kj7SwFh3EzOGxA" />
    <add key="FedExAccount" value="119911443" />
    <add key="FedExMeter" value="103875612" />
    <add key="FedExPassword" value="BLWQRfT7heuu3ahqNK52J7ok4" />
    <add key="FedExKey" value="ttUvmNC74TkWyRMA" />
    <add key="FedExEnvironment" value="production" />
    <add key="GoogleMerchantID" value="0" />
    <add key="GoogleMerchantKey" value="0" />
    <add key="GoogleEnvironment" value="0" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="_404" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="AuthorizeNet.Helpers" />
      </namespaces>
    </pages>
    <sessionState mode="InProc" cookieless="false" timeout="30" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" />
      <mimeMap fileExtension="*.svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
    </staticContent>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RouteMagic" publicKeyToken="84b59be021aa4cee" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.2.2" newVersion="0.2.2.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>