@{
    EcommercePlatform.ContentPage page = ViewBag.page;
    if(page == null){
        page = new EcommercePlatform.ContentPage();   
    }
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <h2>Shopping Cart</h2>
    @Html.Raw(page.content)
    @Html.Partial("_Cart")
    @if (ViewBag.cart.CartItems.Count > 0) {
        <a href="/Cart/Checkout" class="button cartbutton">Proceed to Checkout</a>
    }
</div>
