section span.title{
    margin-bottom: 40px;
    color: #bf3504;
    font-size: 16px;
    display:inline-block;
}

section a.add{
    display:inline-block;
    width: 200px;
    height: 45px;
    background:#bf3504;
    margin: 0px 25px 40px 25px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    text-align:center;
    color: white;
    text-decoration:none;
    font-size: 24px;
    font-weight:600;
    line-height:45px;
}

section form.admin_form label input[type=radio]{
    display:inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}

ul.banners {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.banners li {
    display: block;
    padding: 10px;
    border-bottom: 1px dotted #ccc;
}

ul.banners li ul li {
    display: block;
    padding: 0px;
    border-bottom: none;
}

ul.banners li img.banner {
    width: 25%;
    height: auto;
    margin: auto;
    float: left;
    padding: 3px 10px 3px 0;
    cursor: move;
}

ul.banners li span.bannerdetails {
    float: left;
    width: 70%;
}

ul.banners li span.bannerdetails span.title {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
}

ul.banners li span.bannerdetails span.link, ul.banners li span.bannerdetails span.visible {
    display: block;
    padding: 2px 0;
}