ul.tabs li {
    min-width: 80px;
    color: #777777;
    text-decoration:none;
    border-bottom: 3px solid #777777;
    text-align:center;
    padding: 5px;
    margin: 0px 5px 0px 5px;
}

ul.tabs li.active {
    border-bottom: 3px solid #bf3504;
}

section span.title{
    margin-bottom: 40px;
    color: #bf3504;
    font-size: 16px;
    display:inline-block;
}

section .button, .admin_form input[type="submit"] {
    border: 1px solid #FA241A;
    background: #FA241A;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 15px;
    text-decoration: none;
}

table tbody tr td img{
    width: 20px;
    margin:auto;
    display:block;
}

table tbody tr td:first-child{
    padding-left:10px;
}

table tbody tr td:first-child a{
    color: #bf3504;
    display: inline-block;
}

table tbody tr td:last-child{
    text-align:center;
}

a.modalClose{
    color: #2e2e30;
    font-size: 12px;
    margin-left: 10px;
}

#order div:nth-child(2){
    margin-left: 30px;    
}

#order span.title{
    display:block;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    padding: 4px;
}

#order span.data{
    margin-bottom: 50px;
    display:block;
    text-align:right;
}

#items article{
    min-height: 150px;
    padding: 10px 40px;
    overflow:hidden;
    border-bottom: 1px solid #e6e6e6;
    clear:both;
}

#items article div{
    float:left;
    height: 150px;
}

#items article div:first-child{
    display:table-cell;
    vertical-align: middle;
    margin-right: 25px;
}

#items article div:first-child img{
    width: 150px;
    display:inline-block;
    vertical-align:middle;
}

#items article div:nth-child(2){
    width: 50%;
    border-right: 1px solid #e2e2e2;
    margin-right:25px;    
}

#items article div:nth-child(2) p{
    font-size: 18px;
    margin-top: 20px;
}

#items article div:last-child{
    display:table-cell;    
    vertical-align:middle;
}

#items article div:last-child span{
    display:block;
    font-size: 20px;
    font-weight: 600;
    text-align:right;
    padding: 4px;
    color: #bf3504;
    vertical-align:middle;
}

#items article div:last-child span:last-child{
    border-top: 2px solid black;
    color: #38912d;
}

table#cart {
    width: 100%;
    margin-bottom: 20px;
}

table#cart thead th {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background:#343434;
    padding: 8px 30px;
}

table#cart thead th:first-child {
    border-radius: 8px 0 0px 0px;
}

table#cart thead th.last {
    border-radius: 0 8px 0px 0px;
}

table#cart tbody tr:hover {
    background-color: #F3F3F3;
}

table#cart tbody td {
    border: 1px solid #ededed;
    padding: 8px 30px;
    vertical-align: middle;
}

table#cart tbody td.smallimg {
    text-align: center;
}

table#cart tbody td.smallimg img {
    height: 50px;
    width: auto;
}

table#cart tbody td.quantity {
    text-align: center;    
}

table#cart td.price {
    text-align: right;
}

table#cart tbody td form {
    display: inline-block;
}
table#cart tbody td input[type='number'] {
    width: 50px;
}

table#cart tbody td a.remove {
    color: #fff;
    background-color: #E64D2D;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    font-size: 15px;
    height: 16px;
    width: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 16px;
    margin-left: 5px;
}

table#cart tbody td.quantity input[type='submit'] {
    font-size: 0;
    height: 20px;
    width: 18px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    background: url('/Content/img/save.png') top left no-repeat;
    border: none;
    cursor: pointer;
}

table#cart tbody td img {
    max-width: 100px;    
}

table#cart tfoot td {
    padding: 8px 30px;
    vertical-align: middle;
    border: 1px solid transparent;
}

table#cart tfoot td:first-child {
    text-align: right;
}

#customerID {
    float: left;
    width: 400px; 
    margin-right: 5px;
}

.admin_form label input#btnChoose {
    margin-top: 0;
}

.address {
    background-color: #F2F2F2;
    padding: 14px 35px 10px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.address span {
    position: absolute;
    color: #E64D2D;
    font-size: 11px;
    font-weight: bold;
    top: -5px;
    left: 5px;
}

.address a {
    position: absolute;
    bottom: -10px;
    right: 5px;
}

section .button, section .right .scroller .button {
    border: 1px solid #FA241A;
    background: #FA241A;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 15px;
    text-decoration: none;
    width: auto;
    height: auto;
    margin: 0;
}

section .button:hover, section .right .scroller .button:hover {
    color: #fff;
    background: #E64D2D;
    border: 1px solid #E64D2D;
}

section .right .scroller a.new-address {
    display: block;
    font-size: 16px;
}

.main-address {
    font-size: 18px;
}

.left {
    margin-left: 15px;
}

.right .scroller span.banner {
    font-size: 18px;
    display:block;
    padding: 0px 0px 0px 35px;
    margin: 0 0 20px;
    background: #FA241A;
    line-height:35px;
    width: 210px;
    color:white;
    position: relative;
    left: -22px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.7);
}

.right .scroller span.banner::before {
    z-index: -2;
    height: 0;
    width: 0;
    border-top: 22px solid #F28905;
    border-left: 22px solid transparent;
    border-bottom: 0px;
    border-right: 0px;
    position: absolute;
    top: 35px;
    left: 0;
    content: "";
}

.right .scroller a.new-address {
    display: block;
    text-align: center;
    font-size: 16px;
}

.left .cancel, .simple-form input.cancel {
    background-color: #E64D2D;
    margin: 0 0 0 20px;
}

label[for=bresidential], label[for=sresidential], #shipping_type label {
    margin-top: 15px;
    margin-bottom: 10px;
    min-height: 25px;
}

label[for=bresidential] input, label[for=sresidential] input, #shipping_type label input {
    display:inline;
    vertical-align: middle;
    margin-right: 10px;
    width: auto;
}

.simple-form input[type="submit"]#btnAddBillingAddress, .simple-form input[type="submit"]#btnAddShippingAddress {
    float: left;
}

.simple-form {
    display: block;
}

#shipping_type label span.rate, .shippingtype {
    text-transform: capitalize;
}

div#footnav {
    display: block;
    margin-top: 70px;
}

#continue {
    float: right;
}

#expiremonth, #monthsep, #expireyear {
    float: left;
}

#monthsep {
    padding: 4px 5px 0;
    font-size: 20px;
}

#expiremonth {
    width: 50px;
}

#expireyear {
    width: 75px;
}

#cvv {
    width: 50px;
}