a.modalClose{
    color: #bd0000;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
}

#addfile {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
}

#addexternalfile {
    position: absolute;
    bottom: 5px;
    right: 98px;
    text-decoration: none;
}

section span.title{
    color: #bf3504;
    font-size: 16px;
    display: inline-block;
}

section a.addTheme{
    display:inline-block;
    width: 200px;
    height: 45px;
    background:#bf3504;
    margin: 0px 25px 0px 25px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    text-align:center;
    color: white;
    text-decoration:none;
    font-size: 24px;
    font-weight:600;
    line-height:45px;
}

section form.admin_form label input[type="radio"] {
    display: inline-block;
    margin-left: 10px;
}

.theme {
    float: left;
    width: 200px;
    height: 210px;
    padding: 8px;
    margin: 10px;
    border-radius: 7px;
    border: 2px solid transparent;
    overflow: hidden;
    position: relative;
}

.theme #preview, .theme #endpreview {
    position: absolute;
    bottom: 8px;
    right: 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
}

.theme.preview #preview, .theme #endpreview {
    display: none;
}

.theme #preview, .theme.preview #endpreview {
    display: block;
}

.theme.active {
    border: 2px solid #CECECE;
}

.theme.preview {
    border: 2px solid #debf00;
}


.theme .themename {
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 0;
    white-space: nowrap;
}

.theme .themeimg {
    display: block;
    width: 200px;
    height: 180px;
    position: relative;
}

.theme .themeimg .themefiles {
    display: block;
    overflow: hidden;
}

.theme .themeimg .deletetheme {
    display: block;
    position: absolute;
    z-index: 5;
    right: 0px;
    top: 0px;
    font-size: 20px;
    color: #9a0000;
    font-weight: bold;
    background-color: #fff;
    padding: 3px 6px;
    line-height: 1;
    box-shadow: -2px 2px 3px rgba(0,0,0,.25);
    opacity: 0;
    -webkit-transition-duration: .2s;
}

.theme .themeimg .activate {
    display: block;
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 0px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    padding: 3px 6px;
    line-height: 1;
    box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    opacity: 0;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

.theme .themeimg .active {
    opacity: 1;
}

.theme .themeimg .activate .inactive, .theme .themeimg .activate .active {
    border-radius: 100% 100% 100% 100%;
    background-color: #ccc;
    display: block;
    font-size: 14px;
    height: 1.3em;
    overflow: hidden;
    position: relative;
    width: 1.3em;
}

.theme .themeimg .activate .active {
    background-color: #009000;
}

.theme .themeimg .activate .inactive:before{
    content: "";
    display: block;
    height: 0.3em;
    width: .7em;
    left: 50%;
    margin-left: -.35em;
    position: absolute;
    top: 50%;
    margin-top: -.15em;
    background-color: #fff;
}

.theme .themeimg .activate:hover .inactive:before, .theme .themeimg .activate .active:before {
    content: "";
    display: block;
    height: 8px;
    width: 4px;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    background-color: transparent;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);   
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.theme .themeimg img {
    display: block;
    width: 100%;
}

.theme .themeimg .edittheme {
    display: block;
    position: absolute;
    z-index: 5;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
    padding: 3px 6px;
    line-height: 1;
    box-shadow: 2px -2px 3px rgba(0,0,0,.25);
    opacity: 0;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

.theme .themeimg .edittheme .pencil {
    background-color: #757575;
    height: 4px;
    width: 4px;
    position: relative;
    z-index: 1;
    display: block;
    margin: 14px 11px 2px 2px;
    -webkit-filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.2));
}

.theme .themeimg .edittheme .pencil::before {
    content: "";
    background-color: #ff9bf1;
    display: block;
    position: absolute;
    height: 4px;
    width: 5px;
    border-radius: 2px;
    z-index: 5;
    -webkit-transform: rotate(45deg);   
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -12px;
    right: -12px;
}

.theme .themeimg .edittheme .pencil::after {
    content: "";
    display: block;
    height: 11px;
    width: 5px;
    background-color: #deb802;
    border-bottom: 3px solid #FFF2B2;
    border-top: 2px solid #949494;
    -webkit-transform: rotate(45deg);   
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left: 5px;
    box-shadow: inset -3px 0 2px #DED502;
}

.theme .themeimg .duplicatetheme {
    display: block;
    position: absolute;
    z-index: 5;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
    padding: 3px 6px;
    line-height: 1;
    box-shadow: -2px -2px 3px rgba(0,0,0,.25);
    opacity: 0;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

.theme .themeimg .duplicatetheme .copy {
    background-color: #fff;
    height: 12px;
    width: 9px;
    border: 1px solid #929292;
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 0 5px 3px;
    border-radius: 2px;
}

.theme .themeimg .duplicatetheme .copy::before {
    background-color: #fff;
    height: 12px;
    width: 9px;
    border: 1px solid #929292;
    position: absolute;
    top: 2px;
    left: -5px;
    z-index: 1;
    display: block;
    content: "";
    -webkit-filter: drop-shadow(2px 1px 4px rgba(0,0,0,0.4));
    border-radius: 2px;
}


.theme .themeimg:hover .deletetheme, .theme .themeimg:hover .activate, .theme .themeimg:hover .edittheme, .theme .themeimg:hover .duplicatetheme {
    opacity: 1;
}

.themearea {
    float: left;
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.themearea .areaname {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

#thememanagerfiles {
    list-style: none;
    padding: 0;
    margin: 0;
}

#thememanagerfiles li {
    display: block;
    padding-left: 10px;
}

#thememanagerfiles li span.handle {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: move;
    padding: 5px;
}

#thememanagerfiles li span.deletethemefile {
    display: none;
    float: right;
}

#thememanagerfiles li:hover span.deletethemefile {
    display: block;
}

#thememanagerfiles li span.deletethemefile a {
    color: #9a0000;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

#dropzone {
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: center;
    border: 2px dashed #888;
    height: 18px;
    width: 140px;
    padding: 11px 7px;
    border-radius: 8px;
    cursor: pointer;
}

#dropzone span {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #888;
    line-height: 18px;
}

#dropzone progress {
    display: none;
    width: 90%;
    margin: 3px auto;
}