@{
    List<EcommercePlatform.FaqTopic> topics = ViewBag.topics;
    if(topics == null){
        topics = new List<EcommercePlatform.FaqTopic>();   
    }

    EcommercePlatform.ContentPage page = ViewBag.page;
    if(page == null){
        page = new EcommercePlatform.ContentPage();   
    }
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
}
<link href="@settings.Get("PathToCSS")/css/faq.css" rel="stylesheet" type="text/css" />
<div class="faq-topics">
    <span>Topics</span>
    <ul>
        @foreach (EcommercePlatform.FaqTopic topic in topics) {
            <li>
                <a href="/FAQ/@topic.topic" title="@topic.topic">@topic.topic</a>
            </li>
        }
    </ul>
</div>

<div class="content">
    <h2>Frequently Asked Questions</h2>
    @Html.Raw(page.content)
</div>
