@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    div.joke{
        float:left;
        width: 400px;
        font-size: 13px;
    }

    img.bug{
        float:left;
        margin-left: 40px;
    }

    img.bug:hover{
        -webkit-transform: rotate(90deg);
    }
</style>
<h2>Thank you for submitting the bug report.</h2>

<div class="joke">
    <p>A project manager, a computer programmer and a computer operator are driving down the road when the car they are in gets a flat tire. The three men try to solve the problem.</p>
    <p>The project manager said: "Let's catch a cab and in ten minutes we'll reach our destination."</p>
    <p>The computer programmer said: "We have here the driver's guide. I can easily replace the flat tire and continue our drive."</p>
    <p>The computer operator said: "First of all, let's turn off the engine and turn it on again. Maybe it will fix the problem."</p>
    <p>Suddenly a Microsoft software engineer passed by and said: "try to close all windows, get off the car, and then get in and try again."</p>
</div>
<img src="/Admin/Content/img/bug.jpg" alt="Bug" class="bug" />
