label[for=receiveOffers] span, label[for=receiveNewsletter] span{
    display:block;
    float:left;
    width: 300px;   
}
label[for=receiveOffers] input, label[for=receiveNewsletter] input{ float:right }

table.orders {
    width: 100%;
}

table.orders th, table.orders td {
    padding: 0 10px;
}

table.orders thead tr.header {
    background: #343434;
    height: 30px;
    width: 95%;
    padding: 0px;
    color: white;
    line-height:30px;
}

table.orders thead th {
    font-weight: normal;
    margin-bottom: 15px;
}

table.orders thead tr th{
    text-align: left;    
}

table.orders thead tr th.total {
    text-align: right;
}

table.orders tbody {
    border-top: 2px solid #E2E2E2;
}

table.orders tbody tr {
    min-height: 40px;
    line-height:40px;
    -webkit-transition: all 0.3s ease-in-out;
    cursor:pointer;
    padding: 5px 10px;
}

table.orders tbody tr:hover{
    background:#e8e8e8;
}
table.orders tbody td {
    text-align: left;
}
table.orders tbody td.title{
    font-size: 14px;
    color:#FA241A;
}

table.orders tbody td.total {
    text-align: right;
}

.address {
    background-color: #F2F2F2;
    padding: 14px 35px 18px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.address span {
    position: absolute;
    color: #E64D2D;
    font-size: 11px;
    font-weight: bold;
    top: -5px;
    left: 5px;
}

.address a {
    position: absolute;
    bottom: -10px;
    right: 5px;
}

.main-address {
    font-size: 18px;
}

#container #main #mid_col #items article.heading{
    font-size: 14px;
    font-weight:normal;
    text-transform:none;
    background:none;
    color: #FA241A;;
    border-bottom: 2px solid #343434;
}

#container #main #mid_col #items article.heading span.title{
    float:left;    
}

#container #main #mid_col #items article.heading span.col-heading{
    float:right;
    display:block;
    width: 70px;
    margin-right:10px;
}

#container #main #mid_col #items article.item{
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    overflow:hidden;
}

#container #main #mid_col #items article.item img{
    float:left;
    width: 100px;
    margin-right:25px;
}

#container #main #mid_col #items article.item a.title{
    display:block;
    float:left;
    width: 40%;
    font-size: 14px;
    line-height:60px;
    color: #FA241A;
}

#container #main #mid_col #items article.item a.title:hover{
    color: #343434;
}

#container #main #mid_col #items article.item div.info{
    float:right;
    width: 200px;
    text-align: right;
    font-size: 14px;
}

#container #main #mid_col #items article.item div.info span{
    width: 70px;
    display:block;
    float:left;
}

#container #main #mid_col #items article.item div.info span:first-child{
    margin-top:22px;
}

#container #main #mid_col #items article.item div.info span:last-child{
    float:right;
    border: 1px solid #e2e2e2;
    padding: 4px;
    width: 20px;
    text-align:center;
    margin-top:17px;
}

#container #main #mid_col #items article.totals{
    float:right;
    height: 100px;
    display:block;
    width: 170px;
    margin-top:25px;
}

#container #main #mid_col #items article.totals span{
    display:block;
    padding: 3px 0px;
}

#container #main #mid_col #items article.totals span.label{
    clear:left;
    float:left;
    font-weight:bold;
    text-align:right;
    width: 100px;
}
#container #main #mid_col #items article.totals span.value{
    float:right;
}

#container #main #mid_col #items article.totals hr{
    clear:both;
}

#container #main #mid_col #items article.totals span.label:last-child{
    font-size: 14px;
}

#container #main #mid_col #items article.totals span.value:last-child{
    color: #FA241A;
    font-size: 14px;
}

.right .scroller span.banner {
    font-size: 18px;
    display:block;
    padding: 0px 0px 5px 35px;
    background: url('/Content/img/faq_banner_small.png') no-repeat;
    height: 51px;
    line-height:35px;
    width: 210px;
    color:white;
    position: relative;
    left: -22px;
}

.right .scroller a.new-address {
    display: block;
    text-align: center;
    font-size: 16px;
}

.address a.delete {
    position: absolute;
    top: 0px;
    right: 3px;
    color: #111;
    text-decoration: none;
    font-size: 16px;
}

.address a.delete:hover {
	font-weight: bold;
}

.address a.billing {
	left: 5px;
	right: auto;
}

label[for=residential] {
    margin-top: 15px;
    margin-bottom: 10px;
    min-height: 25px;
}

label[for=residential] input {
    display:inline;
    vertical-align: middle;
    margin-right: 10px;
    width: auto;
}

.left .cancel, .simple-form input.cancel {
    background-color: #E64D2D;
    font-size: 16px;
    margin: 25px 0 0 20px;
    border-radius: 2px;
    height: 30px;
}


.simple-form input[type="submit"]#btnAddAddress {
    float: left;
}