#customer_form {
    width: 435px;
}
label[for=same], label[for=bresidential], label[for=sresidential], label[for=remember], label[for=receiveOffers], label[for=receiveNewsletter]{
    margin-top: 15px;
    margin-bottom: 10px;
    min-height: 25px;
}

label[for=remember]{
   min-height:15px;
}

label[for=same] input, label[for=bresidential] input, label[for=sresidential] input, label[for=remember] input, label[for=receiveOffers] input, label[for=receiveNewsletter] input{
    display:inline;
    vertical-align: middle;
    margin-right: 10px;
    width: auto;
}
label[for=receiveOffers] span, label[for=receiveNewsletter] span{
    display:block;
    float:left;
    width: 300px;   
}
label[for=receiveOffers] input, label[for=receiveNewsletter] input{ float:right }

table#cart {
    width: 100%;
    margin-bottom: 20px;
}

table#cart thead th {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background:#343434;
    padding: 8px 30px;
}

table#cart thead th:first-child {
    border-radius: 8px 0 0px 0px;
}

table#cart thead th.last {
    border-radius: 0 8px 0px 0px;
}

table#cart tbody tr:hover {
    background-color: #F3F3F3;
}

table#cart tbody td {
    border: 1px solid #ededed;
    padding: 8px 30px;
    vertical-align: middle;
}

table#cart tbody td.smallimg {
    text-align: center;
}

table#cart tbody td.smallimg img {
    height: 50px;
    width: auto;
}

table#cart tbody td.quantity {
    text-align: center;    
}

table#cart td.price {
    text-align: right;
}

table#cart tbody td form {
    display: inline-block;
}
table#cart tbody td input[type='number'] {
    width: 50px;
}

table#cart tbody td a.remove {
    color: #fff;
    background-color: #E64D2D;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    font-size: 15px;
    height: 16px;
    width: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 16px;
}

table#cart tbody td.quantity input[type='submit'] {
    font-size: 0;
    height: 20px;
    width: 18px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    background: url('/Content/img/save.png') top left no-repeat;
    border: none;
    cursor: pointer;
}

table#cart tbody td img {
    max-width: 100px;    
}

table#cart tfoot td {
    padding: 8px 30px;
    vertical-align: middle;
    border: 1px solid transparent;
}

table#cart tfoot td:first-child {
    text-align: right;
}

.cartbutton {
    float: right;
    font-size: 16px;
    line-height: 16px;
}

.address {
    background-color: #F2F2F2;
    padding: 14px 35px 10px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.address span {
    position: absolute;
    color: #E64D2D;
    font-size: 11px;
    font-weight: bold;
    top: -5px;
    left: 5px;
}

.address a {
    position: absolute;
    bottom: -10px;
    right: 5px;
}

.main-address {
    font-size: 18px;
}

.right .scroller span.banner {
    font-size: 18px;
    display:block;
    padding: 0px 0px 5px 35px;
    background: url('/Content/img/faq_banner_small.png') no-repeat;
    height: 51px;
    line-height:35px;
    width: 210px;
    color:white;
    position: relative;
    left: -22px;
}

.right .scroller a.new-address {
    display: block;
    text-align: center;
    font-size: 16px;
}

.left .cancel, .simple-form input.cancel {
    background-color: #E64D2D;
    font-size: 16px;
    margin: 25px 0 0 20px;
    border-radius: 2px;
    height: 30px;
}

label[for=bresidential], label[for=sresidential], #shipping_type label {
    margin-top: 15px;
    margin-bottom: 10px;
    min-height: 25px;
}

label[for=bresidential] input, label[for=sresidential] input, #shipping_type label input {
    display:inline;
    vertical-align: middle;
    margin-right: 10px;
    width: auto;
}

.simple-form input[type="submit"]#btnAddBillingAddress, .simple-form input[type="submit"]#btnAddShippingAddress {
    float: left;
}

.simple-form {
    display: block;
}

#shipping_type label span.rate, .shippingtype {
    text-transform: capitalize;
}

#expiremonth {
    float: left;
    width: 55px;
}

#expireyear {
    float: left;
    width: 65px;
}

#cvv {
    width: 60px;
}

#monthsep {
    float: left;
    padding: 3px;
    font-size:  18px;
}

#gCheckout, #ppCheckout {
    display: block;
    margin: 30px 50px;
}

div.paymentForm .simple-form fieldset {
    background: none;
    padding: 0;
    margin-bottom: 0;
}

div.paymentForm .left {
    padding-right: 62px;
    border-right: 1px solid #aaa;
    position: relative;
}

div.paymentForm .left:after {
    content: "OR";
    background-color: #f2f2f2;
    color: #aaa;
    padding: 5px;
    position: absolute;
    right: -18px;
    top: 45%;
    font-weight: bold;
    font-size: 18px;
}

div.paymentForm .right {
    padding-top: 25px;
}

div.paymentForm {
    background: #F2F2F2;
    padding: 10px 35px;
    margin-bottom: 20px;
}

div.paymentForm p.paymentHeader {
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #aaa;
}

div.paymentForm .right p.paymentHeader {
    padding-left: 50px;
    padding-bottom: 30px;
}

div.paymentForm .right form {
    margin-left: 50px;
}

div.paymentForm .left p.paymentHeader {
    padding-bottom: 30px;
}

div.paymentForm .ccimg {
    padding-bottom: 15px;
}