#mid_col .title{
    font-size:18px;
    font-weight:bold;
    text-decoration:underline;
}

#mid_col .cat_image{
    width:200px;
    float:right;
}

#mid_col a.sub_cat{
    display:block;
    float:left;
    padding: 10px;
    width: 220px;
    height: 200px;
    margin: 5px;
    color: black;
    text-decoration:none;
    text-align:center;
    border-bottom: 4px solid #e0e0e0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}

#mid_col a.sub_cat:hover{
    background: #e0e0e0;
    border-bottom: 4px solid #343434;
}

#mid_col a.sub_cat span.img_container{
    width:auto;
    height: 85%;
    display:block;
    overflow: hidden;
}

#mid_col a.sub_cat img{
    width: auto;
    height: 100%;
    margin: auto;
}

#mid_col a.sub_cat span{
    display:block;
    font-size: 17px;
}

#mid_col .view_more{
    display:block;
    width: 60%;
    margin:auto;
    height: 40px;
    line-height:40px;
    color:Black;
    text-decoration: none;
    text-align:center;
    background: #e0e0e0;
    border: 1px outset #e6e6e6;
    margin-bottom: 20px;
    border-radius: 2px;
}

#mid_col .view_more:hover{
    border: 1px inset #e6e6e6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}