p.error{
    color: #FA241A;
    font-size: 14px;
}

span.share-heading{
    font-size:18px;
    color:#FA241A;
    margin-bottom:15px;
    display: block;
}

.share-form{
    width:100%;
    min-height:400px;
}

form.left{
    float:left;
    width:500px;
}

.share-form label{
    display:block;
    display:inline-block;
    clear:both;
    float:left;
    min-height: 70px;
}

.share-form label input,.share-form label textarea,.share-form label select{
    display:block;
    background:white;
    width: 350px;
    max-width:460px;
    padding: 5px;
    height: 20px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
    border: 1px solid #e0e0e0;
    resize:horizontal;
}

.share-form label select{
    height:30px;
    width:365px;
}

.share-form label textarea{
    resize:both;
    height:200px;
    max-height:400px;
    overflow:auto;
}

.share-form input[type=submit]{
    display:block;
    border:none;
    background:#FA241A;
    color:white;
    font-size:16px;
    min-width:100px;
    height:30px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
    font-weight:bold;
    margin-top:25px;
}

.share-form input[type=submit]:hover,.share-form input[type=submit]:active,.share-form input[type=submit]:focus{
    background:#e07802;
    -moz-box-shadow: -1px -1px 3px #FA241A;
	-webkit-box-shadow: -1px -1px 3px #FA241A;
	-o-box-shadow: -1px -1px 3px #FA241A;
	box-shadow: -1px -1px 3px #FA241A;
}

div.part_info{
    float: left;
}

div.part_info span.part_heading{
    font-size:14px;
    display:block;
    background:#343434;
    color:white;
    font-weight:bold;
    padding: 5px;
}

div.part_info img{
    width:200px;
}

div.part_info table{
    border-collapse:separate !important;
    border-spacing:0px 4px;
}

div.part_info table tr td:first-child{
    background:#eaeaea;
    padding: 2px 5px 2px 10px;
    -moz-border-radius: 2px 0px 0px 2px;
	-webkit-border-radius: 2px 0px 0px 2px;
	border-radius: 2px 0px 0px 2px;
}

div.part_info table tr td:last-child{
    padding:0px 2px 0px 5px;
}